.not-found {
    background-image: url(../assets/images/order-successe-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 85.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    background-color: $white;

    &__c {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        position: relative;

        &-drops {
            position: absolute;
            top: -9%;
            width: 25rem;
            height: 35rem;

            &:first-of-type {
                left: 0;
                transform: scale(-1, 1);
            }

            &:last-of-type {
                right: 0;
            }
        }

        &-code {
            font-size: 30rem;
            font-weight: 700;

            &-text {
                color: $black;
                position: relative;
                z-index: 2;
            }

            &-mask {
                background-image: url(../assets/images/67aa8f0dd96a1a32cb7edf0115c694e2.png);
                background-clip: text;
                color: transparent;
                position: absolute;
                z-index: 3;

            }



        }

        & .txt20 {
            max-width: 60rem;
        }

    }

}