.banner-fs {
  

  




    &__c {
        padding: 6.8rem;
        position: relative;
        z-index: 2;
        background-color: $blue;
        background: linear-gradient(90deg, #016192 0%, #014B7B 100%);
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../assets/images/banner-fs.webp);
            background-position: right;
            background-size: auto 100%;
            background-repeat: no-repeat;
            z-index: 1;
            @include small-tablet{
            background-image: url(../assets/images/banner-fs-mob.webp);
    
            }
    
        }

        @include small-tablet {
            padding: 1.4rem;

        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8.7rem;

        @include small-tablet {
            flex-direction: column;
            gap: 5rem;
            align-items: flex-start;
        }

        &-logo {
            width: 33.3rem;
            object-fit: contain;
        }

        & .tl3 {
            white-space: pre-line;

        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 1.4rem;

            &-e {
                display: flex;
                align-items: center;
                gap: 1rem;

                & svg,
                & img {
                    width: 3.2rem;
                    height: 3.2rem;

                    @include small-tablet {
                        width: 6.4rem;
                        height: 6.4rem;
                    }
                }
            }
        }

        & .btn-primary {
            @include small-tablet {
                width: 100%;
                justify-content: center;
            }
        }

    }

    @media screen and (min-width: 48em) {
        &_ss {

            padding: 4rem;
            box-sizing: border-box;


            & .banner-fs__c {

                display: grid;
                grid-template-columns: auto auto;
                grid-template-areas:
                    'logo btn'
                    'subhead subhead'
                    'list list';
                gap: 4rem;

                &-logo {
                    grid-area: logo;
                }

                & .btn-primary {
                    grid-area: btn;
                }

                & .tl3 {
                    grid-area: subhead;
                }

                &-list {
                    grid-area: list;
                    flex-direction: row;

                    &-e {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        max-width: 17rem;
                    }
                }



            }
        }
    }
}