.banner-with-img {
    &__c {

        background: linear-gradient(90deg, #5B8BA1 0%, #335062 100%);
        min-height: 33.6rem;
        display: flex;

        @include small-tablet {
            padding: 0;
        }

        &-wrp {
            flex-grow: 1;
            background-image: url(../assets/images/banner-bg.webp);
            background-size: 50% 100%;
            background-position: 46% 0;
            background-repeat: no-repeat;
            display: grid;
            grid-template-columns: 50% 50%;


            @include small-tablet {
                background-image: url(../assets/images/banner-bg-mobile.webp);
                background-size: 100% 100%;
                background-position: 0 0;

                grid-template-columns: 100%;
                grid-template-rows: auto auto;
                padding: 0;
            }

        }

        &_rev {
            & .banner-with-img__c-img {
                grid-column: 2;
                transform: scale(-1, 1);

                @include small-tablet {
                    grid-column: 1;
                    transform: scale(1, 1);
                }
            }

            & .banner-with-img__c-info {
                padding: 6rem 0 6rem 6rem;
            }

            background-image: url(../assets/images/banner-bg-rev.png);

            @include small-tablet {
                background-image: url(../assets/images/banner-bg-rev-mobile.png);

            }

        }

        &-img {
            grid-row: 1;
            width: 100%;
            display: flex;
            overflow: hidden;

            @include small-tablet {
                width: 100%;
                grid-row: 2;

            }

            & picture {
                display: flex;
                flex-grow: 1;
            }

            & img,
            & picture img {
         
                object-fit: cover;



            }
        }

        &-info {
            grid-row: 1;
            padding: 1rem 6rem 1rem 0;
            display: flex;
            justify-content: space-between;
            width: 100%;

            @include small-tablet {
                flex-direction: column;
                width: 100%;
                padding: 6rem 1.2rem 6rem !important;
            }

            &-left {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                align-self: center;

                & .txt20 {
                    max-width: 38.3rem;

                    @include small-tablet {
                        max-width: 100%;
                    }
                }

                &-list {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    max-width: 60rem;
                    gap: 5rem;

                    @include small-tablet {
                        grid-template-columns: 100%;
                    }

                    &-e {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        @include small-tablet {
                            flex-direction: row;
                        }

                        & img {
                            width: 3.2rem;
                            height: 3.2rem;

                            @include small-tablet {
                                width: 6rem;
                                height: 6rem;
                            }
                        }
                    }
                }

            }

            &-right {
                display: flex;
                align-items: center;

                @include small-tablet {
                    margin-top: 5rem;
                }
            }

        }
    }

}