.basket-list {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    &-c {
        background-color: $white;
        width: 100%;
    }

    &__banners {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__banner {
        padding: 2.5rem 4rem;
        box-sizing: border-box;

        &-text {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            & span {
                &.tl4 {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }

            }
        }

        &-unlogin {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-login {
            display: flex;
            justify-content: space-between;
            gap: 4rem;

            &-indication {
                display: flex;
                justify-content: space-between;
                width: 66.3rem;
                position: relative;

                &-line {
                    position: absolute;
                    height: .4rem;
                    width: 100%;
                    top: 43%;
                    left: 0;
                    z-index: 2;
                    background-color: $gray;
                }


                &-e {
                    display: flex;
                    flex-direction: column;
                    gap: .6rem;
                    align-items: center;

                    &._active {
                        & .basket-list__banner-login-indication-e-circle>circle+circle {
                            fill: $green;
                        }
                    }

                    &:first-of-type {
                        align-items: flex-start;
                    }

                    &:last-of-type {
                        align-items: flex-end;
                    }

                    &-circle {
                        width: 2.4rem;
                        height: 2.4rem;
                        position: relative;
                        z-index: 3;

                    }
                }
            }
        }

    }

    &__list {
        &-e {
            padding: 4rem;
            border-bottom: .2rem solid $bg;
            display: grid;
            grid-template-columns: 11rem 48rem auto auto 3rem;
            grid-auto-rows: auto;
            gap: 2.4rem;
            align-items: flex-start;

            &._disabled {
                opacity: .5;
            }

            &-img {
                width: 100%;
                height: 11rem;

                & img {
                    object-fit: contain;
                }
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            &-prices {
                display: grid;
                grid-template-columns: auto min-content;
                grid-auto-rows: auto;
                gap: 1rem;

                & .price {
                    grid-column: 1 / span 2;
                }

                & .price_discount {
                    grid-row: 2;
                    grid-column: 1;
                }

                &-discount {
                    grid-row: 2;
                    grid-column: 2;
                }
            }

            &-counts {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;

            }

        }
    }

    &__code {
        display: grid;
        max-width: 57rem;
        grid-template-columns: max-content auto;
        gap: 1rem;

        & .tl4 {
            grid-column: 1 / span 2;
        }
        & label{
            width: 100%;
        }
    }

}