.basket-placeholder{
    &__c{
        margin: 4rem 0;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        max-width: 58rem;
        @include small-tablet{
            margin: 8rem 0;
            gap: 5rem;
        }
    }
}