.breadcrumps {
   
    margin-top: 6rem;
    &~section:first-of-type {
        margin-top: 6rem !important;
    }
    @include small-tablet{
        overflow-x: auto;
    }

    &__c {
        display: flex;
        flex-wrap: nowrap;
        gap: .5rem;
        @include small-tablet{
            gap: 1rem;
            padding-bottom: 3rem;
           
        }

        &-e{
            white-space: nowrap;
        }
        &-e:hover{
            color: $gray-dark;
        }

        &-e+a::before {
            content: '/';
            margin-right: .5rem;
        }
        &-e:last-of-type{
            color: $blue;
        }
    }


}