.breadcrumps {
    overflow: auto;
    &+section {
        margin-top: 6rem !important;
    }

    &__c {
        display: flex;
        flex-wrap: nowrap;
        
        gap: .5rem;

        &-e:hover{
            color: $gray-dark;
        }

        &-e+a::before {
            content: '/';
            margin-right: .5rem;
        }
        &-e:last-of-type{
            color: $blue;
        }
    }


}