.card-page-description {
    &__c {
        display: grid;
        grid-template-columns: 33rem 70rem auto;
        grid-template-rows: min-content;
        gap: 3.2rem;
        @include small-tablet{
            grid-template-columns: 100%;
        }

        &-nav {
            display: flex;
            flex-direction: column;
            width: 100%;

            &-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                padding: 2rem 2.4rem;

                &:hover {
                    color: $white;
                    background-color: $blue;
                    opacity: .8;

                    & svg path {
                        stroke: $white;
                    }
                }

                &._opened {
                    color: $white;
                    background-color: $blue;
                    opacity: 1 !important;


                    & svg path {
                        stroke: $white;
                    }
                }

            }
        }

        &-slider {
            width: 100%;
            height: fit-content;

            &-e {
                &-complect {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 3.2rem;
                    @include small-tablet{
                        grid-template-columns: 100%;
                    }

                    &-item {
                        display: grid;
                        grid-template-columns: 10rem auto;
                        grid-template-rows: auto auto auto;
                        gap: .8rem 2rem;

                        &-img {
                            grid-column: 1;
                            grid-row: 1 / span 3;
                            background-color: $white;
                            display: flex;

                            & img {
                                object-fit: contain;
                                object-position: center;

                            }
                        }

                        &-counts {
                            display: flex;
                            justify-content: space-between;

                            &-count::after {
                                content: 'шт';
                            }
                        }
                    }
                }
            }
        }

        &-form {
            background: linear-gradient(90deg, #016192 0%, #014B7B 100%);
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            padding: 4rem;



        }

    }

}