.catalog-defense {

    &__c {
        display: grid;
        grid-template-columns: 20% 75%;
        grid-auto-rows: auto ;
       
        gap: 5%;

        @include small-tablet {
            width: 100%;
            grid-template-columns: 100%;
            gap: 5rem;
        }

        & .tl2 {
            grid-column: 1 / span 2;
            @include small-tablet{
                grid-column: 1;
            }
        }

        &-left {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
        }
        &-right{
            width: 100%;
            
        }
        &-link{
            margin-top: 4rem;
            display: flex;
            justify-content: center;
        }
    }
}