.complects{

    &__c{
        @include mobile{
            padding: 0;
        }
        &-top{
            margin-bottom: 4rem;
            display: flex;
            justify-content: space-between;
            @include small-tablet{
                flex-direction: column;
                gap: 2rem;
                padding:  0 1.5rem;
            }

        }
        &-slider{
            position: relative;
            &-pagination{
                @include small-tablet{
                    display: flex !important;
                }
            }
           
        }
    }
}