.footer {
    background-color: $white;
    border-top: .2rem solid $gray-dark;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 11rem;

    @include mobile {
        background-color: $bg;
        border-top: none;
    }


    &__c {
        display: grid;
        grid-template-columns: 40rem repeat(4, 1fr);
        gap: 9rem;

        @include small-tablet {
            grid-template-columns: 1fr;
            gap: 4rem;

        }

        &-info {
            @include small-tablet {
                background-color: $white;
                padding: 3rem 2rem;
            }

            &-img {
                width: 23rem;

                & img {
                    width: 100%;
                    object-fit: contain;
                    margin-bottom: .7rem;
                }
            }

            & .tl4 {
                margin-top: 6.9rem;
                margin-bottom: 2.4rem;
                text-transform: uppercase;
                max-width: 30rem;

                @include small-tablet {
                    margin-top: 4rem;
                    max-width: 100%;
                }
            }

            &-form {
                display: grid;
                grid-template-columns: auto 5rem;
                grid-template-rows: auto auto;
                gap: 1rem 0;

                @include small-tablet {
                    grid-template-columns: auto 10rem;
                }

                & .checkbox {
                    @include mobile {
                        grid-column: 1 /span 2;
                    }
                }

                & input {
                    background-color: $gray;
                    border: none !important;
                }

                & .input-text-placeholder {
                    color: $gray-dark;
                    z-index: 3;
                }

                &-submit {


                    height: 5.6rem;
                    background-color: $gray;
                    border-left: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include small-tablet {
                        height: 8rem;
                    }

                    &:hover img {
                        transform: translate(1rem, 0);
                    }

                    & img {
                        max-width: 50%;
                        object-fit: contain;
                        transition: transform .5s;
                    }
                }

                & label input {
                    height: 5.6rem;


                }



            }
        }

        &-links {
            &-e {
                display: block !important;

                @include small-tablet {
                    display: grid !important;
                }

                &-target {
                    padding: 1.2rem 0;

                    @include small-tablet {
                        padding: 2.4rem 0;
                        border-bottom: .5rem solid $gray-dark;

                    }
                }

                &-items {
                    &-list {
                        & a:hover {
                            color: $blue !important;
                        }

                        &-link {
                            @media screen and (min-width: 47rem) {
                                padding-left: 0 !important;
                            }
                        }
                    }
                }
            }
        }

        &-contacts {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include small-tablet {
                grid-row: 2;
                margin: 4rem 0;
            }

            &-e {
                display: flex;
                gap: 2rem;
                align-items: flex-start;

                & img {
                    width: 2.4rem;
                    height: 2.4rem;

                    @include small-tablet {
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                }

                & span {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        &-social {
            display: flex;
            gap: 2rem;

            @include small-tablet {
                grid-row: 3;
            }
        }

        &-sign {
            grid-column: 4 / span 2;
            justify-self: flex-end;

            @include small-tablet {
                grid-column: 1;
                justify-self: center;
            }

            & p {
                display: flex;
                align-items: center;
                gap: 1rem;

                @include small-tablet {
                    flex-direction: column;
                }

                & a {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }
            }


        }
    }
}