.header {
    position: relative;
    z-index: 50;
    width: 100%;

    @include mobile {

        & input.js-smartSearch-input {
            background-color: $white;
            font-family: "Rebrand Txt";
            font-size: 3rem;
            line-height: 120%;
            font-weight: 400;


        }

        & button.js-smartSearch-submit {
            background-color: $white;

        }
    }




    &-wrp {
        position: relative;
    }



    &__top {
        background-color: $bg;

        display: flex;
        justify-content: space-between;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;

        @include small-tablet {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        & a:hover {
            color: $blue;
        }

        &-nav {
            display: flex;
            gap: 6rem;

            @include small-tablet {
                gap: 3rem;
            }

            &.mobile {
                display: none;

                @include small-tablet {
                    display: flex;
                }
            }


        }

        &-link {
            display: flex;
            align-items: center;
            gap: 1.2rem;

            & svg,
            & img {
                width: 2.4rem;
                height: 2.4rem;
                margin-left: 1.2rem;

                @include small-tablet {
                    width: 4.8rem;
                    height: 4.8rem;
                    margin-left: 0;
                }
            }
        }

        &-logo {
            @include small-tablet {
                width: 22rem;
            }

        }

    }

    &__main {
        padding: 2.8rem 0;
        background-color: $white;

        @include small-tablet {
            background-color: $bg;
            padding: 1.6rem 0;
        }

        &-c {
            display: flex;
            align-items: center;
            gap: 3.2rem;

            &-logo {
                width: 21.6rem;

                & img {
                    width: 100%;
                    object-fit: contain;
                    margin-bottom: .7rem;
                }

            }

            &-search {
                background-color: $bg;
                display: flex;
                width: 99.6rem;
                border-radius: .3rem;
                overflow: hidden;

                @include small-tablet {
                    width: 70rem;
                    background-color: $white;
                }

                & input {
                    padding: 1.8rem 4.4rem;
                    width: 100%;

                    &::placeholder {
                        color: $gray-dark;
                    }

                }

                & button[type=submit] {
                    padding: 1.8rem 2.5rem;

                }
            }

            &-link {
                display: flex;
                gap: .5rem;
                flex-direction: column;
                align-items: center;
                position: relative;

                &:first-of-type {
                    margin-left: auto;
                }

                & img {
                    width: 2.4rem;
                    height: 2.4rem;
                }

                &-basket-count {
                    position: absolute;
                    color: $white;
                    top: 0;
                    right: 10%;

                    width: 2.5rem;
                    height: 2.5rem;
                    background-color: $yellow;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;

                    @include small-tablet {
                        width: 2.5rem;
                        height: 2.5rem;
                    }


                }

            }

            &-btn {
                display: none;

                @include small-tablet {
                    background-color: $blue;
                    background: linear-gradient(90deg, #016192 0%, #014B7B 100%);

                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 8rem;
                    height: 8rem;

                    align-items: center;
                    justify-content: center;
                    z-index: 20;
                    position: relative;
                    transition: all .5s;
                    flex-shrink: 0;


                }

                & span {
                    display: block;
                    width: 4rem;
                    height: 1px;
                    background-color: $white;
                    transition: all .5s;
                }

                &._opened {
                    gap: 1.5rem;

                    & span {
                        opacity: 0;
                        width: 4.7rem;
                        margin-left: 1.5rem;

                        &:first-of-type {
                            opacity: 1;
                            transform: rotate(45deg);
                            transform-origin: left top;
                        }

                        &:last-of-type {
                            opacity: 1;
                            transform: rotate(-45deg);
                            transform-origin: left bottom;


                        }
                    }
                }
            }

        }
    }

    &__bottom {
        padding: 0 0 1.5rem;
        background-color: $white;

        & a:hover {
            color: $blue;
        }

        &-c {
            display: flex;
            align-items: center;
            gap: 1.2rem;

            &-list {
                display: flex;
                gap: 3.2rem;
                align-items: center;
                padding: 1.6rem 2.4rem;
                box-sizing: border-box;
                border: .2rem solid $gray-dark;
                border-radius: .3rem;
                @media screen and (min-width: 48em) {
                    margin-right: auto;
                }

            }

            &-link {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                gap: 1rem;

                & img {
                    width: 2.4rem;
                    height: 2.4rem;
                }

                &:nth-of-type(1) {
                    margin-left: auto;
                }

                &+.header__bottom-c-link {
                    margin-left: 3.6rem;
                }
            }
        }
    }

    &__mobile {
        display: none;

        @include small-tablet {

            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 111;
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(1rem);

        }

        &._opened {

            & .header__mobile-c {
                transform: translate(0, 0);

            }

        }

        &-c {
            padding: 4rem 2rem 10rem;
            box-sizing: border-box;
            overflow: auto;
            height: 100%;
            background-color: $white;
            width: 70%;
            transform: translate(-100%, 0);
            transition: transform .5s;

            &-list {

                display: flex;
                flex-direction: column;
                gap: 4rem;

                &-logo {
                    width: 22rem;
                    object-fit: contain;

                }

                & a {
                    display: flex;
                    align-items: center;

                    & svg,
                    & img {
                        width: 5rem;
                        height: 5rem;
                        margin-right: 2rem;
                    }
                }

                & hr {
                    width: 100%;
                    height: .5rem;
                    background-color: $gray-dark;
                }



            }

        }
    }


}

.header-small {
    background-color: $white;

    &__c {
        display: flex;
        justify-content: space-between;

        padding: 2.8rem 0;
        box-sizing: border-box;

        &-links {
            display: flex;
            gap: 1rem;
        }
    }
}