.heading-two-side {

    &__c {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50rem;
        background: linear-gradient(90deg, #016192 0%, #014B7B 100%);

        @include mobile {
            display: flex;
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        &-left {
            height: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            justify-content: center;
            position: relative;
            box-sizing: border-box;
            padding: 0 4rem;
            color: $white;

            * {
                position: relative;
                z-index: 3;
            }

            &-bg {
                position: absolute;
                z-index: 2;
                height: 100%;
                width: auto;
                left: 0%;

                @include mobile {
                    display: none;
                }
            }

            & .txt22 {
                max-width: 62rem;
            }
        }

        &-right {
            position: relative;
            padding: 4rem;
            box-sizing: border-box;
            display: flex;

            @include mobile {
                display: none;
            }


            * {
                position: relative;
                z-index: 2;
            }

            &-bg {
                top: 0;
                right: 0;
                position: absolute;
                z-index: 1;
                width: auto;
                height: 100%;
            }

            &-img {
                transform: translateY(-6rem);
                height: 130%;
                object-fit: contain;

            }

            &-items {
                display: flex;
                flex-direction: column;
                gap: 3.2rem;

                & li {
                    width: 36.2rem;
                    background-color: $white;
                    padding: 2.4rem;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }
            }

        }

    }
}