.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding: 2.8rem 2.8rem 4rem;
    box-sizing: border-box;
    border-top: .2rem solid $blue;
    z-index: 50;
    align-items: center;
    transition: transform .5s;
    transform: translateY(100%);
    &._opened{
        transform: translateY(0);
    }

    &__e {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;


        & svg , & img{

            width: 5rem;
            height: 5rem;

            & path {
                stroke: $gray-dark;
            }
        }

        &._active {
            color: $blue;
            & svg path {
                stroke: $blue;
            }
        }
    }
}
.lock .mobile-nav{
    transform: translateY(100%); 
}