.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 111;

    &.modal-mail-help {
        z-index: 112;
    }

    &._opened>.modal-wrp>.modal__c {
        transform: translateY(0);
        opacity: 1;
    }


    &-wrp {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(22, 46, 58, 0.3);
        backdrop-filter: blur(4rem);
    }

    &__c {
        transform: translateY(-100%);
        opacity: 0;
        transition: transform .5s, opacity .5s;
        background-color: $white;
        display: flex;
        flex-direction: column;
        padding: 5.4rem;
        box-sizing: border-box;
        position: relative;
        gap: 3.2rem;
        width: 75rem;

        @include small-tablet {
            width: calc(100% - 3rem);
            margin: 0 1.5rem;
            padding: 10rem 1.5rem;
            max-height: 90vh;
            overflow: auto;
        }

        &-closer {
            position: absolute;
            top: 2rem;
            right: 2rem;
            width: 1.8rem;
            height: 1.8rem;
            background-image: url(../assets/images/icons/x-black.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @include mobile {
                width: 4.8rem;
                height: 4.8rem;
            }

        }

        & ol {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include mobile {
                margin: 0;
            }

            & li {
                list-style-position: inside;
            }
        }

        &-btn {
            position: absolute;
            right: 2.4rem;
            top: 2.4rem;
            width: 3rem;
            height: 3rem;
            background-image: url(../assets/images/icons/x-black.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            &:hover {
                opacity: .7;
            }
        }
    }
    &-sign-reset{
        @include mobile{
            & .flex-row{
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    &-sign {
        width: 63rem;

        @include small-tablet {
            width: 100%;
        }


        &__slider {
            width: 100%;
            overflow: hidden;

            &-list {
                width: 100%;
                display: grid;
                grid-template-columns: 100% 100%;

                &-e {
                    &-body {
                        display: flex;
                        flex-direction: column;
                        gap: 3.2rem;
                        justify-content: space-between;

                        & .btn-primary {
                            width: 100%;
                            justify-content: center;
                        }
                    }
                }
            }

        }
        
    }

    &-cdek {
        &__c {
            display: grid;
            grid-template-rows: min-content 60rem;
            gap: 4rem;
            min-width: 100rem;
            max-width: 100%;
            background-color: $bg;
            padding: 8rem;
            box-sizing: border-box;

            @include small-tablet {
                min-width: 100%;
            }

            &-top {
                display: grid;
                grid-template-columns: auto auto 2fr;
                gap: 3.2rem;


                & label>input::placeholder {
                    color: $gray-dark;
                }

                @include mobile {
                    grid-template-columns: 1fr 1fr;

                    & .input-container {
                        grid-column: 1 / span 2;
                    }

                    & .switcher-btn[data-switchto="1"] {
                        margin-left: auto;
                    }
                }


            }

            &-items {
                width: 100%;
                height: 100%;
                overflow: auto;
                scrollbar-width: thin;
                scrollbar-color: rgba(22, 46, 58, 0.5) rgba(22, 46, 58, 0.2);

                &-list {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    &-e {
                        border: .2rem solid transparent;
                        background-color: $white;
                        display: flex;
                        flex-direction: column;
                        gap: 1.2rem;
                        padding: 2.4rem;
                        box-sizing: border-box;

                        &._active {
                            border: .2rem solid $green;
                        }

                        & .flex-row {
                            margin-bottom: 1.2rem;
                            justify-content: space-between;

                            @include mobile {
                                flex-direction: column;
                                align-items: flex-start;
                            }
                        }
                    }
                }

            }

            &-map {


                height: 59rem;
                background-color: green;
            }

        }
    }

}