.special-offer{
    &__c{
        &-top{
            display: flex;
            justify-content: space-between;
            margin-bottom: 4rem;
        }
        &-bottom{
            margin-top: 4rem;
           display: flex;
           text-align: center;
           justify-content: center;
        }
    }
}