.two-side-banner {
    background-color: $white;
    position: relative;
    height: 62rem;
    display: flex;
    overflow: hidden;
    &+.why-choice{
background-color: $bg;
    }

    &-bg {
        position: absolute;
        z-index: 2;
       
        width: 50%;
        right: 0;
        top: 0;
        height: auto;
    }

    &__c {
       height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 9rem;
        align-items: center;
        justify-content: center;

        &-left {
            margin-left: 9rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
    }
}