.catalog-current {
    & .container {
        display: grid;
        grid-template-columns: 30rem auto;
        grid-auto-rows: auto;
        gap: 4rem 6rem;
        position: relative;

        @include small-tablet {
            grid-template-columns: 100%;
        }

    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        grid-column: 1 / span 2;

        @include small-tablet {
            grid-column: 1;
        }

        & .mobile {
            margin: auto 2rem auto auto;
        }

    }

    &__filter {
        grid-column: 1;
        grid-row: 2 / span 3;



        @include small-tablet {
            display: none;
            gap: 6.4rem;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 50;
            width: 100vw;
            height: 100vh;

        }

        &-wrp {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;

            @include small-tablet {
                background-color: $bg;
                width: 100vw;
                height: 100vh;
                padding: 8rem 0;
                transform: translate(-100%, 0);
                transition: transform .5s;

            }

        }

        &._opened {
            @include small-tablet {
                .catalog-current__filter-wrp {
                    transform: translate(0, 0);
                }
            }
        }


        & hr {
            width: 100%;
            height: .2rem;
            background-color: $gray;
            border: none;
        }

        &-scroll {

            overflow: auto;
            height: 100%;

            @include small-tablet {
                padding: 3rem;
                background-color: $white;
            }

            &-list {

                display: flex;
                flex-direction: column;
                gap: 3.2rem;
                padding-right: 2rem;

                @include small-tablet {
                    gap: 6.4rem;
                }

                &-price {
                    display: grid;
                    grid-template-columns: 48% 48%;
                    gap: 4%;

                    & .tl4 {
                        grid-column: 1 / span 2;
                        margin-bottom: 1rem;

                    }

                    & input {
                        text-align: center;
                        border-radius: .3rem;
                        border: .2rem solid $gray-dark;
                        padding: .8rem 1rem;



                    }

                    &-slider {
                        margin: 2rem 2rem 0;
                        grid-column: 1 / span 2;

                        @include small-tablet {
                            & .noUi-handle {
                                top: -2.2rem !important;
                            }
                        }
                    }
                }

                & * {
                    word-break: break-word;
                }

                &-radio {
                    display: flex;
                    justify-content: space-between;
                }
            }



        }

        &-current {
            overflow: auto;
            margin: 0 3rem;

            &-list {
                display: flex;
                flex-wrap: nowrap;
                gap: 2rem;
                padding-bottom: 2rem;

                & div {
                    flex-shrink: 0;
                }

            }
        }

        &-submit {
            width: 100%;
            justify-content: center;

        }

        &-reset {
            margin: 0 auto;
        }

        &-closer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 3rem;

            & img {
                width: 3rem;
                height: 3rem;

            }

            & span {
                display: block;

            }
        }

    }

    &__banner {
        background: linear-gradient(90deg, #016192 0%, #014B7B 100%);

        @include small-tablet {
            width: calc(100% + 3.2rem);
            transform: translateX(-1.6rem);
        }

        &-wrp {
            border-radius: .3rem;
            display: flex;
            justify-content: space-between;
            background-image: url(../assets/images/banner-bg-rev.png);
            background-size: 82% 100%;
            background-position: 1% 0;
            background-repeat: no-repeat;

            @include small-tablet {
                flex-direction: column;
                width: 100%;

                gap: 0;
                background-image: url(../assets/images/banner-bg-rev-mobile.png);
                background-size: 100% 100%;
                background-position: 0 0;
            }
        }

        &-main {
            padding: 5rem 0 5rem 5rem;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            max-width: 47.3rem;

            @include small-tablet {
                gap: 5rem;
                max-width: 90%;
                padding: 3rem 3rem 0 3rem;
            }
        }

        &-img {
            transform: scale(-1, 1);
            display: flex;
            justify-content: flex-end;
            overflow: hidden;

            @include small-tablet {
                width: 100%;
                transform: scale(1, 1);
            }

            & img {
                max-height: 100%;
                object-fit: contain;
                object-position: right;

            }

        }

    }

    &__items {
        display: flex;
        flex-direction: column;

        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;

            &-opener {
                display: flex;
                align-items: center;
            }

            @include small-tablet {
                & .mobile {
                    margin: auto 2rem auto auto;
                    display: flex;
                }

                &-select {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }
            }



        }

        &-filters {
            margin-bottom: 2rem;
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 1fr;
            gap: 3.2rem;

            @include small-tablet {
                grid-template-columns: 100%;
                gap: 4rem;
            }
        }



    }
}