.contacts {

    &__c {
        display: grid;
        grid-template-columns: .7fr 1fr;
        gap: 3.2rem;
        width: 100%;
        margin: 4rem 0;
        @include small-tablet{
            grid-template-columns: 100%;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            &-e {
                display: grid;
                grid-template-columns: .3fr .7fr;

                justify-content: flex-start;
                background-color: $white;
                border-radius: .3rem;
                padding: 3.2rem;
                box-sizing: border-box;
                align-items: flex-start;
                justify-content: space-between;
                @include small-tablet{
                    grid-template-columns: 100%;
                    gap: 3rem;
                }

                &-head {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    & img{
                        width: 4.4rem;
                        height: 4.4rem;
                        @include small-tablet{
                            width: 8rem;
                            height: 8rem;
                        }
                    }
                }
                &-body{
                    display: flex;
                    flex-direction: column;
                    gap: .8rem;
                    min-height: 100%;
                    justify-content: center;
                    & .txt18{
                        margin-bottom: 1.8rem;
                    }
                }
                & .txt20{
                    font-weight: 600;
                }
                &-links{
                    display: flex;
                    gap: 1rem;
                }
            }
        }

        &-map{
            @include small-tablet{
                width: 100%;
                height: 80rem;
            }
        }

    }
}