.loyalty {}


.loyalty-programm {
    @include mobile {
        margin: 10rem 0;
    }

    & .tl1 {
        text-align: center;
        margin-bottom: 4rem;
        font-size: 6.4rem;

        @include small-tablet {
            font-size: 8rem;
            margin-bottom: 10rem;
        }
    }

    &__c {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        width: 100%;

        @include small-tablet {
            grid-template-columns: 100%;
        }

        &-left {
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }

        &-right {
            background-color: $white;
            padding: 6rem;
            box-sizing: border-box;
            position: relative;
            display: flex;
            justify-content: space-between;

            @include mobile {
                padding: 6rem 2rem;
            }

            &-line {
                position: absolute;
                top: 48%;
                left: 14%;
                z-index: 2;
                width: 70%;
                height: .5rem;
                background-color: $gray;

                @include mobile {
                    top: 50%;
                }
            }

            &-item {
                position: relative;
                z-index: 3;
                display: flex;
                flex-direction: column;
                gap: .6rem;
                align-items: center;
                justify-content: center;
            }
        }
    }

}

.loyalty-partners {
    background-color: $white;
    padding: 8rem 0 0;
    background-image: url(../assets/images/partners-bg.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    @include mobile {
        background: none;
    }

    &__c {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        @include mobile {
            display: flex;
            flex-direction: column;
        }

        &-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: min-content;
            gap: 1rem 3rem;

            @include mobile {
                display: flex;
                flex-direction: column;
            }

            &-row {
                grid-column: 1 / span 2;
            }

            & button {
                @include mobile {
                    width: 100%;
                    justify-content: center;
                }
            }


            &-margin {
                margin: 1.5rem 0;

                @include mobile {
                    margin: 4rem 0;
                    flex-direction: column;
                    gap: 2rem;
                    justify-content: flex-start;
                    align-items: flex-start;
                    display: flex;
                }
            }
        }

        &-img {
            display: flex;
            overflow: hidden;
            background: radial-gradient(50% 50% at 50% 50%, rgba(0, 92, 143, 0.3) 0%, rgba(0, 92, 143, 0) 100%);

            @include mobile {
                display: none;
            }

            & img {
                width: 100%;
                object-fit: contain;
            }
        }

    }
}