.news {
    margin-top: 6rem;
    @include mobile{
        margin-top: 8rem;
    }
    & .tl1 {
        margin-bottom: 4rem;

        @include small-tablet {
            margin-bottom: 8rem;
        }
    }

    &__c {
        display: flex;
        flex-direction: column;

        &-load-more {
            margin: auto;
            margin-top: 2rem;
            margin-bottom: 2rem;

            @include small-tablet {
                margin-top: 4rem;
                margin-bottom: 4rem;
            }
        }
    }

    &__main-list {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: auto;
        gap: 3.2rem;

        @include small-tablet {
            grid-template-columns: 100%;
            grid-auto-rows: auto;
        }

    }

}

.news-item {
    background-color: $white;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &-img {
        width: 100%;
        height: 30rem;
        display: flex;
        margin-bottom: 1.2rem;

        @include small-tablet {
            height: 60rem;
        }

        & img {
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }

    & .txt18 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }
    & .tl4{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        box-orient: vertical;  
    }

}

.news-detail {
    &__c {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        white-space: break-spaces;
    }
    & .tl3, & .tl2, & .tl4{
        font-weight: 600;
    }

    &-img-fs {
        width: 100%;
        height: 45rem;
        overflow: hidden;
        display: flex;

        @include small-tablet {
            height: 30rem;
        }

        & img {
            object-fit: cover;
            object-position: center;
        }
    }
    &-section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include small-tablet{
            gap: 2rem;
        }
    }

    &-video-fs {
        position: relative;
        width: 100%;
        height: 45rem;
        overflow: hidden;

        @include small-tablet {
            height: 30rem;
        }

        &__btn {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
           

            &:hover {
                background-color: rgba(0, 0, 0, 0.6);
            }

            & img {
                width: 8rem;
                height: 8rem;
            }
        }
        & img {
            object-fit: cover;
            object-position: center;
        }
    }

    &-slider{
        &-e{
            & img{
            max-width: 100%;
            max-height: 100%;
            }
        }
    }
}