.partners {
    &__c {
        display: flex;
        flex-direction: column;
        gap: 6rem;

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include small-tablet {
                flex-direction: column;
                gap: 2rem;
                justify-content: flex-start;
                align-items: flex-start;
            & .select-default{
                width: 100%;
            }
            }

        }

        &-list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 3.2rem;

            @include small-tablet {
                grid-template-columns: 100%;
                gap: 6rem;
            }

            &-e {
                background-color: $white;
                padding: 3.2rem;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                @include small-tablet{
                    gap: 2.4rem;
                    min-height: 60rem;
                }
                & .tl4{
                    margin-bottom: 2rem;
                    @include small-tablet{
                        margin-bottom: 4rem;
                    }
                }
            }
        }
    }
}