.support {}


.support-heading {
    &__c {
        display: grid;
        min-height: 50rem;
        grid-template-columns: 1fr 1fr;
        grid-row: 100%;
        background: linear-gradient(90deg, #016192 0%, #014B7B 100%);

        @include mobile {
            padding: 4rem;
            grid-template-columns: 100%;
        }

        &-left {
            position: relative;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;

            &-bg {
                position: absolute;
                z-index: 2;
                right: -10%;
                top: 0;
                height: 100%;

                @include mobile {
                    display: none;
                }
            }

            &-text {
                position: relative;
                z-index: 3;
                margin-left: 4rem;
                max-width: 58rem;
                display: flex;
                flex-direction: column;
                gap: 4rem;

                @include mobile {
                    margin: 0;
                }

            }

            & .btn-nav {
                width: 100%;
                justify-content: center;
                padding: 2rem 0;
            }
        }

        &-right {
            display: flex;
            position: relative;

            @include mobile {
                display: none;
            }

            & img {
                position: absolute;
                height: 100%;
                right: 0;
                top: 0;
                width: auto;
                object-fit: contain;

            }
        }
    }

}

.support-list {
    &__c {
        display: grid;
        grid-template-columns: 33rem auto;
        gap: 3.2rem;

        @include mobile {
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }

        &-nav {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            & .radio .radio-square {
                border: none;
                opacity: 1;
                background-color: $gray;
                color: $gray-dark;
                width: 100%;
                text-transform: none;

            }
        }

        &-list {
            &-wrapper {}

            &-slide {}

            &-top {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                margin-bottom: 8rem;

                &-filter {
                    margin-top: 6rem;
                    display: flex;
                    gap: 1rem;
                    flex-wrap: wrap;

                    & .radio .radio-square {

                        text-transform: none;

                    }
                }

            }

            &-body {
                display: flex;
                flex-direction: column;
                gap: 4rem;

                &-card {
                    &._opened>.support-list__c-list-body-card-grid>.support-list__c-list-body-card-grid-loadmore {
                        opacity: 0;
                        width: 0;
                        cursor: default;
                    }

                    &-grid {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-auto-rows: min-content;
                        gap: 3.2rem;
                        overflow: hidden;

                        @include mobile {
                            display: flex;
                            flex-direction: column;
                        }

                        &-loadmore,
                        &-hidemore {
                            justify-self: center;
                            align-self: flex-start;
                            grid-column: 1 / span 2;
                            margin: 2rem 0;
                        }

                        & .tl3 {
                            grid-column: 1 / span 2;

                        }
                    }

                }

            }

        }

    }
}

.support-footer {
    display: flex;
    background: linear-gradient(90deg, #6B98AD 0%, #41606F 100%);

    &-bg {
        flex-grow: 1;
        background-image: url(../assets/images/support-footer-bg.png);
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;

        @include mobile {
            background: none;
        }
    }

    &__c {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 8rem 0 10rem;
        @include mobile{
            display: flex;
            flex-direction: column;
            padding:4rem ;
        }

        &-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem 3rem;
            @include mobile{
                display: flex;
                flex-direction: column;
            }

            &-row {
                grid-column: 1 / span 2;
                @include mobile{
                    display: flex;
                    flex-direction: column;
                    & button{
                        width: 100%;
                        justify-content: center;
                    }
                }
            }

            &-top {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                margin-bottom: 2rem;
                color: $white;
            }


        }
    }
}

.support-contacts {
    &__c {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3.2rem;

        @include small-tablet {
            grid-template-columns: 100%;
            gap: 6rem;
        }

        & .tl3 {
            grid-column: 1 / span 3;

            @include small-tablet {
                grid-column: 1;
            }
        }

        &-item {
            padding: 3.2rem;
            box-sizing: border-box;
            background-color: $white;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            & .tl4+.txt20 {
                margin-bottom: 3rem;
            }

            @include small-tablet {}
        }
    }
}