.user-page {
    @include mobile {
        margin-top: 4rem;
    }

    &__deleteme {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
    }

    &-c {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 33rem auto;
        gap: 3.2rem;

        @include mobile {
            display: flex;
            flex-direction: column;
            gap: 5rem;
        }

        & .switcher-slide {
            grid-column: 2;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;


        &-btn {
            background-color: $gray;
            background-image: none;
            color: rgba(22, 46, 58, 0.5);
            width: 100%;
            & ._fill {
                fill: $gray-dark ;
            }
            & ._stroke{
                stroke: $gray-dark;
            }

            &._opened {
                background-color: $blue;
                color: $white;

                & ._fill {
                    fill: $white ;
                }
                & ._stroke{
                    stroke: $white;
                }
            }
        }

        &-logout {
            display: flex;
            align-items: flex-end;
            gap: 1rem;

            &:hover {
                color: $red;

                & svg {
                    fill: $red;
                }
            }

        }


    }
    & .switcher-slide{
        & .user-page__main{
            @include desktop{
                grid-column: 1 / span 4;
            }
           
        }
    }

    &__main {
        display: flex;
        width: 100%;

        @include mobile {
            flex-direction: column;
        }

        &-banner {
            margin-top: 3rem;
            width: 100%;

            &>.catalog-choice__c>.catalog-choice__c-img {
                width: 67%;
            }
        }


        &-personal {
            background-color: $white;
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            box-sizing: border-box;
            gap: 1rem 3rem;
            padding: 4rem;
            height: fit-content;

            @include mobile {
                display: flex;
                flex-direction: column;
            }

            &-row {
                grid-column: 1 / span 2;
            }

            & p {
                margin-bottom: 2rem;
            }

            &-change {
                margin-left: auto;
            }

        }



        &-history {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            width: 100%;

            &-top {
                display: flex;
                gap: 2rem;


            }

            &-heading {
                width: 100%;
                display: grid;
                padding: 4rem;
                box-sizing: border-box;
                background-color: $gray;
                grid-template-columns: repeat(5, auto) 4rem;
                justify-content: space-between;

                @include mobile {
                    display: none;
                }


                & li {
                    color: $gray-dark;
                    text-align: center;

                    &:first-of-type {
                        text-align: left;
                    }
                }
            }

            &-item {
                height: fit-content;

                background-color: $white;

                &._opened .user-page__main-history-item-list {
                    border-top: 1px solid $gray;
                }

                &-target {
                    padding: 4rem;
                    box-sizing: border-box;

                    @include mobile {
                        display: grid;
                        grid-template-columns: auto auto min-content;
                        gap: 3rem 4rem;


                        & img {
                            grid-column: 3;
                            grid-row: 1 / span 2;
                        }

                        & span:nth-child(3) {
                            grid-column: 1 / span 2;
                            grid-row: 3;
                        }
                    }

                    & img {
                        @include icon-18;
                    }
                }

                &-list {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;


                    &-wrp {
                        margin-top: 5rem;

                        &>.txt18:first-of-type {
                            padding-left: 4rem;
                        }
                    }

                    &-adress {
                        display: flex;
                        align-items: center;
                        gap: 1rem;


                        & svg,
                        & img {
                            @include icon-18;
                        }
                    }

                    &-summary {
                        margin-top: 2rem;
                        display: flex;
                        gap: 2rem;
                        box-sizing: border-box;
                        padding: 4rem;
                        padding-top: 0;

                        @include mobile {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 2rem;
                            justify-items: center;

                        }

                        &-data {
                            margin-left: auto;

                            @include mobile {
                                margin-left: 4rem;
                                margin-right: auto;
                                grid-column: 1/ span 2;
                            }

                        }

                    }

                }
            }

        }

        &-favorite {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 1fr;
            gap: 3.2rem;

            @include mobile {
                grid-template-columns: 100%;
            }
        }
    }

    &__right {
        margin-left: 3.2rem;
        padding: 3.2rem;
        box-sizing: border-box;
        background-color: $white;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: fit-content;

        @include mobile {
            & .btn-primary {
                width: 100%;
                justify-content: center;
                text-align: center;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: .8rem;

            & li {
                display: flex;
                gap: 2rem;
            }
        }

        &-indication {
            display: flex;
            width: 100%;
            justify-content: space-between;
            position: relative;

            &-item {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                position: relative;
                z-index: 2;

                &:first-of-type {
                    align-items: flex-start;
                }

                &:last-of-type {
                    align-items: flex-end;
                }

                &._active svg circle+circle {
                    fill: $green;

                }
            }

            &-line {
                position: absolute;
                z-index: 1;
                top: 1rem;
                left: 0;
                width: 100%;
                height: .2rem;
                background-color: $gray;

                @include mobile {
                    top: 2rem;
                }
            }
        }

        &-links {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3.2rem;

            @include mobile {
                flex-direction: column;
                gap: 3rem;

            }

            &-e {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 2rem;
                line-height: 110%;
                font-weight: 700;

                @include mobile {
                    font-size: 3rem
                }

                & img {
                    @include icon-24;
                }
            }
        }
    }

}