.btn-primary {
    flex-shrink: 0;
    height: fit-content;
    width: fit-content;
    border-radius: .3rem;
    box-sizing: border-box;
    padding: 1.6rem 4.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Rebrand Txt';
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.34rem;
    transition: box-shadow .5s;
    background-color: $white;
    color: $black;

    @include small-tablet {
        padding: 3rem;
        gap: 2rem;
        font-size: 3rem;
        line-height: 4rem;
        padding: 3rem 3.4rem;
    }

    & svg,
    & img {
        object-fit: contain;
        max-width: 3.2rem;
        max-height: 3.2rem;
    }

    &:hover,
    &:focus {
        box-shadow: .4rem .4rem 2.4rem 0px rgba(35, 33, 49, 0.25);
        text-shadow: .1rem 0 0 currentColor;



        @include small-tablet {
            box-shadow: .8rem .8rem 4.8rem 0px rgba(35, 33, 49, 0.25);
        }

    }

    &:disabled {
        background-image: none;
        background-color: $gray !important;
        color: rgba(22, 46, 58, 0.5);
        box-shadow: none !important;
        font-weight: 500 !important;
        text-shadow: none !important;
        cursor: default;


    }

    &_img-right {

        & img,
        & svg {
            transform: rotate(-90deg);
        }
    }

    &_small {
        padding: 1.4rem 2.3rem;

        @include small-tablet {
            padding: 4rem 5rem;
        }

        & svg,
        & img {
            @include icon-24;
        }


    }

    &_green {
        background-color: $green;
        color: $white;
        &:hover{
            color: $white !important;
        }
    }

    &_blue {
        color: $white;

        background-color: $blue;
        background: linear-gradient(90deg, #016192 0%, #014B7B 100%);

        &-active {
            background-image: none;
            background-color: transparent;
            border: .2rem solid $blue;
            color: $blue;

            & svg path {
                stroke: $blue;
            }
        }

    }

    &_white {
        border: .2rem solid $blue;
        background: none;
        color: $blue;
    }



}


.btn-nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: $blue;
    font-family: 'Rebrand Txt';
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 0.02em;
    text-align: left;
    transition: gap .5s;
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;




    @include small-tablet {
        gap: 1rem;
        font-size: 3rem;
        line-height: 3.4rem;
    }




    & svg,
    & img {
        @include icon-18;
    }

    &_ul {
        text-decoration: underline !important;
    }

    &_bg {
        background-color: $white;
        padding: 1rem 2rem;
        box-sizing: border-box;
        color: $black;
        gap: 1rem !important;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.34rem;

        & svg,
        & img {
            transform: rotate(-90deg);
        }

    }
}


.btn-icon {
    background-color: $blue;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.2rem;
    height: 5.2rem;

    @include small-tablet {
        width: 8rem;
        height: 8rem;
        border-radius: .4rem;
    }

    & svg,
    & img {
        width: 3.2rem;
        height: 3.2rem;

        @include small-tablet {
            width: 5rem;
            height: 5rem;
        }
    }
}

.btn-swiper {
    background-color: rgba(0, 92, 143, 0.7);
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2.4rem 5.4rem 1.6rem 0px rgba(0, 0, 0, 0);
    width: 6rem;
    height: 6rem;

    @include small-tablet {
        width: 12rem;
        height: 12rem;
    }

    & svg,
    & img {
        max-width: 30%;



        @include small-tablet {
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    &:disabled {
        background-color: $gray !important;
        display: none;
    }

    &:hover {
        background-color: $blue;
    }

    &_overlayed {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translate(0, -50%);

        &.btn-swiper_left {
            left: 1rem;
        }

        &.btn-swiper_right {
            right: 1rem;

        }
    }


    &_left {

        & svg,
        & img {
            transform: rotate(180deg);
        }


        &:active {

            & svg,
            & img {
                margin-right: 1rem;
            }
        }
    }

    &_right {


        &:active {

            & svg,
            & img {
                margin-left: 1rem;
            }
        }
    }



}

.btn-download {
    display: flex;
    justify-content: space-between;
    padding: .8rem;
    box-sizing: border-box;
    background-color: $white;

    @include small-tablet {
        padding: 1.6rem;
    }

    &-green {
        display: flex;
        gap: 2rem;
        background-color: $white;
        justify-content: space-between;


        &__img {
            height: 11rem;
            width: 8rem;
            display: flex;
            margin: 3rem;
            margin-right: 0;
            padding: 0;
            background-color: none;

            & img {
                object-fit: cover;
                object-position: center;
            }
        }

        &__txt {

            align-self: center;
            margin-right: auto;
            font-weight: 600;
        }

        &__link {
            background-color: $green;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 2.4rem;
            box-sizing: border-box;

        }



    }

    & span {
        align-items: center;
        display: flex;
        gap: 1rem;
    }

    &__img {
        width: 5.2rem;
        height: 5.2rem;
        justify-content: center;
        background: linear-gradient(90deg, #016192 0%, #014B7B 100%);

        @include small-tablet {
            width: 10rem;
            height: 10rem;
        }

        & svg,
        & img {
            width: 50%;
            height: 50%;
        }
    }

    &__link {
        justify-content: center;

        & img,
        & svg {
            width: 2.4rem;
            height: 2.4rem;

            @include small-tablet {
                width: 4rem;
                height: 4rem;
            }
        }
    }

}

.btn-counter {
    display: grid;
    grid-template-columns: 5.5rem auto 5.5rem;
    grid-template-rows: 5.5rem;
    gap: 1rem;
    align-items: center;
    border: .2rem solid $gray-dark;
    height: fit-content;
    width: fit-content;
    & *{
        text-align: center;
    }

    @include small-tablet {
        grid-template-columns: 9rem auto 9rem;
        grid-template-rows: 9rem;
    }

    & button {
        height: 100%;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 600;

        @include small-tablet {
            font-size: 4rem;
        }

        &:active {
            background-color: $gray;
        }

    }

    & span {
        font-weight: 600;
        font-size: 2.6rem;

        @include small-tablet {
            font-size: 4rem;
        }

    }

}