.drop-down-container-default {
    transition: all .5s;
    display: grid;
    grid-template-rows: min-content 0fr;
    overflow: hidden;

    &._opened {
        grid-template-rows: min-content 1fr;
    }
}



.drop-down-target-default {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & * {
        position: relative;
        z-index: -1;
    }

    &-img {
        flex-shrink: 0;

        max-width: 3.2rem;
        max-height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;


        @include small-tablet {
            width: 6rem;
            height: 6rem
        }

        & img,
        & svg {
            transition: transform .5s ease-in-out;
            max-width: 60%;
            max-height: 70%;
        }
    }

    &._opened {
        & img {
            transform: rotate(180deg);
        }
    }
}

.drop-down-target-default+div {
    overflow: hidden;
    height: 100%;

    & ul {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include small-tablet {
            margin-top: 3rem;
            gap: 4rem;
        }

        & li {
            padding-left: 2rem;

            @include small-tablet {
                padding-left: 4rem;
            }
        }
    }
}