.radio {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;

    &_pay {
        min-width: 34rem;
        height: 20rem;
        padding: 1.6rem;
        justify-content: space-between;
        flex-direction: column;

        & .radio-default {
            margin-right: auto;
        }

        & .radio-img {
            max-width: 100%;
            max-height: 60%;
            display: flex;
            gap: 1rem;
        }

        & .radio-txt {
            opacity: .7;
        }

        & .radio-border {
            left: 0rem;
            top: 0rem;
            display: block;
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            border: .2rem solid $gray;
        }
    }

    & span {
        display: block;
    }

    & input {
        position: absolute;
        z-index: 1;
        opacity: 0;

        &:checked {
            &+.radio-square {
                background-color: $blue;
                border: .2px solid $blue;
                color: $white;
                opacity: 1 !important;
            }

            &+.radio-slider {
                background-color: $blue;
                border-color: $blue;

                &:after {
                    left: 100%;
                    transform: translate(-100%, 0);
                    right: 0;
                    background-color: $blue;
                }
            }

            &+.radio-default {
                &::after {
                    opacity: 1;
                }
            }

            &~.radio-txt {
                opacity: 1;
            }

            &~.radio-border {
                border-color: $blue;
            }
        }

    }


    &-square {
        padding: 1.6rem 2.4rem;
        box-sizing: border-box;
        background-color: transparent;
        color: $black;
        border: .2px solid $black;
        opacity: .6;
        border-radius: .2rem;
        transition: opacity .5s, color .5s, background-color .5s;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {

            opacity: .9;
        }

    }

    &-slider {

        width: 6.6rem;
        height: 2.8rem;
        background-color: $gray-dark;
        border: .2px solid $gray-dark;
        position: relative;
        border-radius: 2rem;
        cursor: pointer;

        @include small-tablet {
            width: 10rem;
            height: 4rem;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 2.4rem;
            height: 2.4rem;
            background-color: $gray-dark;
            border: .4rem solid $white;
            border-radius: 50%;
            transition: all .5s;

            @include small-tablet {
                width: 3.4rem;
                height: 3.4rem;
            }
        }

    }

    &-default {
        width: 2.4rem;
        height: 2.4rem;
        border: .2rem solid $blue;
        border-radius: 50%;
        background-color: transparent;
        position: relative;


        @include small-tablet {
            width: 4.8rem;
            height: 4.8rem;
        }

        &::after {
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: .3rem solid $white;
            background-color: $blue;
            opacity: 0;
            transition: opacity .5s;

        }

    }
}

.checkbox {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;

    &_light {

        & .checkbox-check {
            border-color: $gray;
        }

    }

    & input {
        position: absolute;
        opacity: 0;

        &:checked+.checkbox-check {
            background-color: $blue;

            & svg,
            & img {
                opacity: 1;
            }
        }
    }

    &._error {
        color: $red;
    }


    @include small-tablet {

        gap: 2rem;
    }

    &-check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
        border: .2rem solid $blue;
        flex-shrink: 0;

        @include small-tablet {
            width: 4rem;
            height: 4rem;
        }

        & svg,
        & img {
            opacity: 0;
            width: 1rem;
            height: .7rem;

            @include small-tablet {
                width: 2rem;
                height: 1.4rem;
            }
        }
    }

}

.input-text {
    display: flex;
    flex-direction: column;
    gap: .4rem;

    @include small-tablet {
        gap: 1rem;

    }

    &._error {

        & input,
        & textarea {
            border-color: $red;

            &::placeholder {
                color: $red;
            }

        }

        & .input-phone {
            border-color: $red;
        }
    }

    & textarea {
        height: 100%;
    }

    & input,
    & textarea {
        border: .2rem solid $gray-dark;
        padding: 1.6rem 2.4rem;
        background-color: $white;
        border-radius: .3rem;
        font-family: Rebrand Txt;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 120%;
        resize: none;


        @include small-tablet {
            font-size: 3rem;
            padding: 1.4rem 5rem;
            min-height: 8rem;
        }

        &:focus {
            border-color: $blue;
        }


    }

    &-error-msg {
        min-height: 1.5rem;
        color: $red;
        font-family: 'Rebrand Txt';
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 110%;

        @include small-tablet {
            min-height: 3rem;
            font-size: 2rem;
        }
    }




}

.input-phone {
    display: flex;
    border: .2px solid $gray-dark;
    border-radius: .3rem;
    background-color: $gray;


    &__select {


        display: flex;
        transition: all .5s;
        position: relative;

        &._opened {
            & .input-phone__select-list {
                max-height: 100vh;
            }


            & .input-phone__select-current .input-phone__select-current-arrow {
                transform: rotate(180deg);
            }
        }

        @include small-tablet {
            width: 13rem;
            height: 8rem;
        }

        &-current {
            align-self: center;
            display: flex;
            padding: 0 1.4rem;
            gap: 1rem;
            box-sizing: border-box;
            min-width: 8rem;

            @include small-tablet {
                padding: 0 2.8rem;
                min-width: 13rem;
            }

            &-flag {
                width: 2.4rem;
                height: 1.6rem;

                @include small-tablet {
                    width: 4rem;
                    height: 2.4rem;
                }
            }

            &-arrow {
                flex-shrink: 0;
                margin: auto;
                max-width: 1.2rem;
                max-height: 1.2rem;
                transition: transform .5s;

                @include small-tablet {
                    max-width: 2.4rem;
                    max-height: 2.4rem;
                }
            }
        }

        &-list {
            position: absolute;
            z-index: 10;
            top: 100%;
            left: 0;
            width: 100%;
            max-height: 0;
            overflow: hidden;
            display: block;

            &-wrp {
                display: flex;
                flex-direction: column;
            }

            &-btn {
                display: flex;
                gap: .1rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 2.4rem;
                padding: 1rem .5rem;
                box-sizing: border-box;
                background-color: $gray;
                color: rgba(22, 46, 58, 0.5);

                @include small-tablet {
                    font-size: 3rem;
                    padding: 3rem .5rem;
                }

                &:hover {
                    background-color: $gray-dark !important;
                    color: $black;
                }

                &:nth-child(odd) {
                    background-color: $white;
                }


                & img {
                    width: 2.4rem;
                    height: 1.6rem;

                    @include small-tablet {
                        width: 4rem;
                        height: 2.4rem;
                    }
                }

            }


        }

    }

    & input,
    & textarea {
        width: 100%;
        padding: 1.6rem 2.4rem;
        background-color: $white;
        font-family: Rebrand Txt;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 120%;
        border: none;

        @include small-tablet {
            font-size: 3rem;
        }

    }

    & .input-text-error-msg {
        grid-column: 1 / span 2;
    }
}


.input-stars {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;



    &__c {
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(5, 3.2rem);
        grid-template-rows: 3.2rem;

        @include small-tablet {
            grid-template-columns: repeat(5, 6.4rem);
            grid-template-rows: 6.4rem;
        }


        &-item {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            opacity: 0;

            &[value='1']:checked {
                &~.input-stars__c-stars svg:nth-of-type(1) {
                    fill: $green;
                }
            }


            &[value="2"]:checked {
                &~.input-stars__c-stars svg:nth-of-type(-n+2) {
                    fill: $green;
                }
            }

            &[value="3"]:checked {
                &~.input-stars__c-stars svg:nth-of-type(-n+3) {
                    fill: $green;
                }
            }

            &[value="4"]:checked {
                &~.input-stars__c-stars svg:nth-of-type(-n+4) {
                    fill: $green;
                }
            }

            &[value="5"]:checked {
                &~.input-stars__c-stars svg:nth-of-type(-n+5) {
                    fill: $green;
                }
            }

            &:disabled {
                cursor: default;
            }


        }

        &-stars {
            position: absolute;
            z-index: 1;
            display: grid;
            width: fit-content;
            grid-template-columns: repeat(5, 3.2rem);
            grid-template-rows: 3.2rem;

            @include small-tablet {
                grid-template-columns: repeat(5, 6.4rem);
                grid-template-rows: 6.4rem;
            }

            & svg {
                width: 100%;
                height: 100%;
                fill: $gray-dark;


            }
        }
    }


}