.item-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $white;
    padding: 1.8rem 2rem;
    box-sizing: border-box;
    border-radius: 0.3rem;

    &__top {
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 4.5rem;

        &-discount {
            padding: 1.1rem 1.6rem;
            box-sizing: border-box;
            background-color: $yellow;

            &::after {
                content: '%';
            }

        }

        &-favorite {
            width: 3.2rem;
            height: 3.2rem;
            @include small-tablet{
                width: 5rem;
                height: 5rem;
            }
            margin-left: auto;
            background-image:  url(../assets/images/icons/like.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

        

            &_active {
                background-image:  url(../assets/images/icons/like-checked.svg);
            }

        }



    }

    &__img {
        width: 100%;
        height: 24.8rem;
        overflow: hidden;

        @include small-tablet {
            height: 47rem;
        }

        & img {
            object-fit: contain;
            max-width: 100%;
            height: 100%;

        }
    }
    &__ttl{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        box-orient: vertical;
        height: 7rem;
        @include small-tablet{
            height: 10rem;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        flex-shrink: 0;
        height: 4.5rem;
        @include mobile{
            height: 7.5rem;
        }

        &-price {
            display: flex;
            gap: 1rem;

            &-e {
                letter-spacing: .1rem;
                @include small-tablet{
                    font-size: 4rem;
                }

               

                &_discount {
                    color: $gray-dark;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 45%;
                        width: 80%;
                        height: .2rem;
                        background-color: $gray-dark;
                    }
                }

            }
        }

        &-basket {
            display: flex;
            gap: 1rem;
            border-radius: .3rem;
            border: .2rem solid $gray-dark;
            @include small-tablet{
                padding: 1rem 0;
            }
            &-count{
                text-align: center;
            }
            &-btn {
                padding: 0 1.2rem;
                box-sizing: border-box;
                font-weight: 700;

                @include small-tablet {
                    padding: 0 3rem;
                }

                &:disabled {
                    opacity: 0.5;
                    cursor: default;
                }

                &:hover,
                &:focus {
                    background-color: $gray;
                }

            }
        }

    }

    & .btn-primary {
        width: 100%;
        justify-content: center;
        height: 6.2rem;
        @include mobile{
            height: unset;
        }
       
    }

}

.item-card-row {
    padding: 4rem;
    border-bottom: .2rem solid $bg;
    display: grid;
    grid-template-columns: 11rem 48rem auto auto 3rem;
    grid-auto-rows: auto;
    gap: 2.4rem;
    align-items: flex-start;
    @include mobile{
        grid-template-columns: 22rem  auto auto min-content;
        gap: 2rem ;
    }
    &_history{
        grid-template-columns: 11rem 48rem auto auto auto; 
    }

    &._disabled {
        opacity: .5;
    }

    &-img {
        width: 100%;
        height: 11rem;
        display: flex;
        @include mobile{
            height: 22rem;
        }

        & img {
            object-fit: contain;
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include mobile{
            grid-column: 2 / span 3;
        }
    }

    &-prices {
        display: grid;
        grid-template-columns: auto min-content;
        grid-auto-rows: auto;
        gap: 1rem;
        flex-shrink: 0;
        @include mobile{
            grid-column: 1 / span 2;
            grid-row: 2;
        }

        & .price {
            grid-column: 1 / span 2;
        }

        & .price_discount {
            grid-row: 2;
            grid-column: 1;
        }

        &-discount {
            grid-row: 2;
            grid-column: 2;
        }
    }

    &-counts {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        @include mobile{
            grid-column: 3 ;
            grid-row:2 ;
            width: max-content;
            & .price{
                font-size: 3rem;
            }
        }

    }
    &-link{
        display: flex;
        gap: 1rem;
        align-items: center;
        @include mobile{
            grid-column: 1 / span 4;
            grid-row: 3;
            width: 100%;
            padding: 3rem;
            border: 1px solid $blue;
            justify-content: center;
            
        }
        & svg, & img{
            @include icon-18;
        }
    }
    &-delete{
        @include mobile{
            align-self: center;
        }
    }

}

.item-card-small{
    display: flex;
    gap: 1.5rem;
    &-img{
        background-color: $white;
        width: 10rem;
        & img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &-info{
        display: flex;
        flex-direction: column;
        gap: .8rem;
        & .flex-row{
            width: 100%;
            justify-content: space-between;
        }
    }
}