.marked-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &__e {
        display: flex;

       
        gap: 1rem;

        @include small-tablet {
            gap: 2rem;
        }

        & svg {
            margin-top: 1rem;
            width: .6rem;
            height: .6rem;
            @include small-tablet{
                margin-top: 1.5rem;
            }
        }
        &_big{
            & img{
                width: 3.2rem;
                height: 3.2rem;
                @include small-tablet{
                    width: 6.4rem;
                    height: 6.4rem;
                }
            }
        }
    }
}