.select {
    position: relative;

    min-width: 29rem;

    &._opened {
        & .select__items {
            max-height: 100vh;
        }
    }

    &_just-watch {
        & .select__target {
            background-color: $green;
            color: $white;

            & img {
                width: 1rem;
                height: .7rem;

                @include small-tablet {
                    width: 2rem;
                    height: 1.4rem;
                }
            }


        }
    }

    &__target {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: .2rem solid $gray-dark;
        position: relative;
     

        &-input {
            width: 100%;
            padding: 1.4rem 2rem;
            background-color: $white;
            z-index: -1;

            @include mobile {
                padding: 2.5rem 3rem;
            }
        }


        & img {
            position: absolute;
            top: 50%;
            right: 1rem;
            z-index: 0;
            transform: translateY(-50%);
            transition: transform .5s;
            max-width: 1.4rem;
            max-height: 2.4rem;
            z-index: -1;

            @include small-tablet {
                max-width: 2rem;
                max-height: 2rem;
            }
        }

        &._opened {
            & img {
                transform: rotate(180deg);
            }
        }
    }

    &__items {
        position: absolute;
        z-index: 10;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all .5s;


        &-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            border: .2rem solid $gray-dark;
            background-color: $white;
            border-radius: 0 0 .3rem .3rem;

            &-e {
                padding: 1.6rem 2rem;

                &:disabled {
                    background-color: $green !important;
                    color: $white;
                }

                &:hover {
                    background-color: $gray;
                }

            }
        }
    }


}


.select-default {
    padding: 1.4rem 2rem;
    box-sizing: border-box;
    background-color: transparent;
    border: .2rem solid $gray-dark;
    min-width: 29.1rem;

    &:hover,
    & :focus {
        outline: none;
        background-color: $white;
    }
}