// typography
@import './typo';

@import './buttons';
@import './inputs';
@import './select';
@import './item-card';
@import './marked-list';
@import './aside-delivery';



/* swiper */
.swiper-pagination-bullets{
    display: flex ;
    justify-content: center;
    margin-top: 2rem;
    @include small-tablet{
    margin-top: 4rem;
    }
}
.swiper-pagination-bullet{
    background-color: $blue;
    opacity: .5;
    width: 1.2rem;
    height: 1.2rem;
    @include small-tablet{
        width: 2.4rem;
        height: 2.4rem;
    }
}
.swiper-pagination-bullet-active{
    opacity: 1;
}