// typography
@import './typo';

@import './buttons';
@import './inputs';
@import './select';
@import './item-card';
@import './marked-list';
@import './aside-delivery';
@import './category-slide';
@import './filter-tag';
@import './drop-down';
@import './api-pagination';



/* swiper */
.swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    @include small-tablet {
        margin-top: 4rem;
    }
}

.swiper-pagination-bullet {
    background-color: $blue;
    opacity: .5;
    width: 1.2rem;
    height: 1.2rem;

    @include small-tablet {
        width: 2.4rem;
        height: 2.4rem;
    }
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

/* swiper */

/* nouislider */
.noUi-target {

    background-color: $gray;
    border: none;
    height: .5rem;
}

.noUi-connect {
    background-color: $blue;
}

.noUi-handle {
    width: 2.4rem !important;
    height: 2.4rem !important;
    top: -.8rem !important;
    border: 3px solid $white;
    border-radius: 50%;

    @include small-tablet {
        width: 4.8rem !important;
        height: 4.8rem !important;
    }

    &::after,
    &::before {
        display: none;
    }
}

.noUi-touch-area {
    background-color: $blue;
    border-radius: 50%;

    &::after,
    &::before {
        display: none;
    }
}
.noUi-horizontal .noUi-handle{
    right: -8px;
}
/* nouislider */

.col {
    &-gr {
        color: $gray-dark !important;
    }

    &-grn {
        color: $green !important;
    }

    &-bl {
        color: $blue !important;
    }

    &-wh {
        color: $white !important;
    }

    &-blk {
        color: $black !important;
    }

}

.bg {
    padding: .5rem 1rem;
    box-sizing: border-box;
    width: fit-content;

    @include small-tablet {
        padding: .5rem 1rem;
    }

    &-wh {
        padding: 0;
        width: auto;
        background-color: $white;
    }

    &_wh {
        background-color: $white;
    }

    &_grn {
        background-color: $green;
    }

    &_gr {
        background-color: $gray;
    }

    &_bl {
        background-color: $blue;
    }

    &_ye {
        background-color: $yellow;
    }
}

.fit {
    width: fit-content;
}

.price {
  /*   width: fit-content;
    letter-spacing: .1rem;

    @include small-tablet {
        font-size: 4rem;
    }

    &::after {
        content: '₽';
        font-size: .8em;
        line-height: .9em;
    } */

    &_discount {
        color: $gray-dark;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 45%;
            width: 87%;
            height: .2rem;
            background-color: $gray-dark;
        }
    }


}

.count::after {
    content: 'шт.';
}

.two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
}

.show-help {
    position: relative;

    & svg,
    img {
        width: 2rem;
        height: 2rem;
    }

    &-text {
        width: 25.8rem;
        position: absolute;
        background-color: $black;
        color: $white;
        padding: .8rem 1.2rem;
        top: -2rem;
        left: 50%;
        transform: translate(-50%, -100%);
        display: none;
        text-transform: none;

    }
}

.flex-row {
    display: flex;
    gap: 1rem;
    align-items: center;

    & img,
    & svg {
        max-width: 2rem;
        max-height: 2rem;
        flex-shrink: 0;

        @include small-tablet {
            max-width: 4rem;
            max-height: 4rem;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include small-tablet {
        gap: 2rem;
    }
}

