<section class="category-fs">
    <div class="container category-fs__c">
        <div class="category-fs__c-top">
            <h2 class="tl2 bg bg_ye fit">Электрический теплый пол</h2>
            <a href="#" class="btn-nav btn-nav_ul desktop">
                Перейти в категорию
            </a>
            <p class="txt20">Надежный и безопасный источник тепла и комфорта в вашем доме</p>
        </div>
        <div class="category-fs-slider swiper">
            <ul class="swiper-wrapper">
                <li class="category-slide swiper-slide line-ye">
                    <img class="category-slide-img" src="../assets/images/categories.webp" alt="category">
                    <a href="#" class="tl3 col-wh">
                        <strong> Блоки управления </strong>
                    </a>
                </li>
                <li class="category-slide swiper-slide line-ye">
                    <img class="category-slide-img" src="../assets/images/categories.webp" alt="category">
                    <a href="#" class="tl3 col-wh">
                        <strong> Блоки управления </strong>
                    </a>
                </li>
                <li class="category-slide swiper-slide line-ye">
                    <img class="category-slide-img" src="../assets/images/categories.webp" alt="category">
                    <a href="#" class="tl3 col-wh">
                        <strong> Блоки управления </strong>
                    </a>
                </li>

            </ul>
        </div>
        <div class="mobile">
            <div class="category-fs-pagination">
                
            </div>
            <div class="category-fs__c-link">
                <a href="#" class="btn-nav btn-nav_ul">
                    Перейти в категорию
                </a>
            </div>
        </div>

    </div>
</section>