<section class="ctagories">
    <div class="container ctagories__c">
        <div class="ctagories__c-slider swiper">
            <ul class="ctagories__c-list swiper-wrapper">
                <li class="ctagories__c-list-e swiper-slide">
                    <img class="ctagories__c-list-e-img" src="../assets/images/categories.webp" alt="category">
                    <a href="#" class="tl3 col-wh">
                        <strong> Блоки управления </strong>
                    </a>
                </li>
                <li class="ctagories__c-list-e swiper-slide">
                    <img class="ctagories__c-list-e-img" src="../assets/images/categories.webp" alt="category">
                    <a href="#" class="tl3 col-wh">
                        <strong> Блоки управления </strong>
                    </a>
                </li>
                <li class="ctagories__c-list-e swiper-slide">
                    <img class="ctagories__c-list-e-img" src="../assets/images/categories.webp" alt="category">
                    <a href="#" class="tl3 col-wh">
                        <strong> Блоки управления </strong>
                    </a>
                </li>
                <li class="ctagories__c-list-e swiper-slide">
                    <img class="ctagories__c-list-e-img" src="../assets/images/categories.webp" alt="category">
                    <a href="#" class="tl3 col-wh">
                        <strong> Блоки управления </strong>
                    </a>
                </li>
                <li class="ctagories__c-list-e swiper-slide ctagories__c-list-e_big">
                    <img class="ctagories__c-list-e-img" src="../assets/images/categories.webp" alt="category">
                    <a href="#" class="tl3 col-wh">
                        <strong> Блоки управления </strong>
                    </a>
                </li>
                <li class="ctagories__c-list-e swiper-slide">
                    <img class="ctagories__c-list-e-img" src="../assets/images/categories.webp" alt="category">
                    <a href="#" class="tl3 col-wh">
                        <strong> Блоки управления </strong>
                    </a>
                </li>
                <li class="ctagories__c-list-e swiper-slide">
                    <img class="ctagories__c-list-e-img" src="../assets/images/categories.webp" alt="category">
                    <a href="#" class="tl3 col-wh">
                        <strong> Блоки управления </strong>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mobile">
            <div class="ctagories__c-slide-pagination">

            </div>

        </div>


    </div>
</section>