<section class="choice-system">
    <div class="container choice-system__c">
        <div class="choice-system__c-left">
            <div class="choice-system__c-left-top">
                <h2 class="tl2 col-wh">Подбор системы</h2>
                <div class="choice-system__c-left-top-pagination">
                </div>
            </div>
            <div class="choice-system__c-left-slider swiper">
                <form class="choice-system__c-left-slider-form swiper-wrapper form">
                    <div class="choice-system__c-left-slider-form-e swiper-slide">
                        <p class="txt18 col-wh">Питание</p>
                        <div class="select drop-down-container">
                            <button class="select__target drop-down-target">
                                <input class="select__target-input txt16 txt16_medium" type="text" readonly name="choice one"
                                    value="value 1">
                                <img src="./assets/images/icons/arrow-black.svg" alt="V">
                            </button>
                            <div class="select__items">
                                <div class="select__items-list">
                                    <button class="select__items-list-e txt16 txt16_medium" disabled >value
                                        1</button>
                                    <button class="select__items-list-e txt16 txt16_medium" >qwe</button>
                                    <button class="select__items-list-e txt16 txt16_medium">value 3</button>
                                </div>

                            </div>

                        </div>
                        <p class="txt18 col-wh">Питание</p>
                        <div class="select drop-down-container">
                            <button class="select__target drop-down-target">
                                <input class="select__target-input txt16 txt16_medium" type="text" readonly name="choice two"
                                    value="value 1">
                                <img src="./assets/images/icons/arrow-black.svg" alt="V">
                            </button>
                            <div class="select__items">
                                <div class="select__items-list">
                                    <button class="select__items-list-e txt16 txt16_medium" disabled>value
                                        1</button>
                                    <button class="select__items-list-e txt16 txt16_medium">value 2</button>
                                    <button class="select__items-list-e txt16 txt16_medium">value 3</button>
                                </div>

                            </div>

                        </div>
                        <p class="txt18 col-wh">Питание</p>
                        <div class="select drop-down-container">
                            <button class="select__target drop-down-target">
                                <input class="select__target-input txt16 txt16_medium" type="text" readonly name="choice three"
                                    value="value 1">
                                <img src="./assets/images/icons/arrow-black.svg" alt="V">
                            </button>
                            <div class="select__items">
                                <div class="select__items-list">
                                    <button class="select__items-list-e txt16 txt16_medium" disabled>value
                                        1</button>
                                    <button class="select__items-list-e txt16 txt16_medium">value 2</button>
                                    <button class="select__items-list-e txt16 txt16_medium">value 3</button>
                                </div>

                            </div>

                        </div>
                        <button class="btn-primary choice-system__c-left-slider-form-e-next" type="button">
                            Продолжить
                        </button>
                    </div>
                    <div class="choice-system__c-left-slider-form-e swiper-slide">
                        <p class="txt18 col-wh">Питание</p>
                        <div class="select drop-down-container">
                            <button class="select__target drop-down-target">
                                <input class="select__target-input txt16 txt16_medium" type="text" readonly name="choice four"
                                    value="value 1">
                                <img src="./assets/images/icons/arrow-black.svg" alt="V">
                            </button>
                            <div class="select__items">
                                <div class="select__items-list">
                                    <button class="select__items-list-e txt16 txt16_medium" disabled >value
                                        1</button>
                                    <button class="select__items-list-e txt16 txt16_medium" >qwe</button>
                                    <button class="select__items-list-e txt16 txt16_medium">value 3</button>
                                </div>

                            </div>

                        </div>
                        <p class="txt18 col-wh">Питание</p>
                        <div class="select drop-down-container">
                            <button class="select__target drop-down-target">
                                <input class="select__target-input txt16 txt16_medium" type="text" readonly name="choice five"
                                    value="value 1">
                                <img src="./assets/images/icons/arrow-black.svg" alt="V">
                            </button>
                            <div class="select__items">
                                <div class="select__items-list">
                                    <button class="select__items-list-e txt16 txt16_medium" disabled>value
                                        1</button>
                                    <button class="select__items-list-e txt16 txt16_medium">value 2</button>
                                    <button class="select__items-list-e txt16 txt16_medium">value 3</button>
                                </div>

                            </div>

                        </div>
                        <p class="txt18 col-wh">Питание</p>
                        <div class="select drop-down-container">
                            <button class="select__target drop-down-target">
                                <input class="select__target-input txt16 txt16_medium" type="text" readonly name="choice six"
                                    value="value 1">
                                <img src="./assets/images/icons/arrow-black.svg" alt="V">
                            </button>
                            <div class="select__items">
                                <div class="select__items-list">
                                    <button class="select__items-list-e txt16 txt16_medium" disabled>value
                                        1</button>
                                    <button class="select__items-list-e txt16 txt16_medium">value 2</button>
                                    <button class="select__items-list-e txt16 txt16_medium">value 3</button>
                                </div>

                            </div>

                        </div>
                        <button class="btn-primary choice-system__c-left-slider-form-e-submit" type="submit">
                            Найти
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <div class="choice-system__c-right">
            
        </div>
    </div>
<div class="choice-system__img">
    <img src="./assets/images/choice-system.webp" alt="choice">
</div>

   
</section>