<section class="defense-work">
    <div class="container defense-work__c">
        <h2 class="tl1">Принцип работы системы защиты от потопа</h2>
        <div class="defense-work__c-slider swiper">
            <ul class="swiper-wrapper">
                <li class="defense-work__c-slider-e swiper-slide">
                    <div class="defense-work__c-slider-e-img ">
                        <div class="defense-work__c-slider-e-img-first">
                            <div>
                                <img src="./assets//images/defense-work/1-1.png" alt="defense">
                            </div>

                            <div>
                                <img src="./assets//images/defense-work/1-2.png" alt="defense">
                            </div>
                            <div>
                                <img src="./assets//images/defense-work/1-3.png" alt="defense">
                            </div>
                            <div>
                                <img src="./assets//images/defense-work/1-4.png" alt="defense">
                            </div>
                        </div>


                    </div>
                    <div class="defense-work__c-slider-e-bottom">
                        <span class="tl2 col-bl">01</span>
                        <p class="tl4">Датчик воды обнаруживает протечку
                            и посылает сигнал на блок управления</p>
                    </div>
                </li>
                <li class="defense-work__c-slider-e swiper-slide">
                    <div class="defense-work__c-slider-e-img ">
                        <div class="defense-work__c-slider-e-img-two">
                            <img src="./assets/images/defense-work/2.png" alt="defense">

                        </div>
                    </div>
                    <div class="defense-work__c-slider-e-bottom">
                        <span class="tl2 col-bl">02</span>
                        <p class="tl4">Блок управления отправляет сигнал на электропривод о перекрытии воды и оповещает
                            пользователя об аварии </p>
                    </div>
                </li>
                <li class="defense-work__c-slider-e swiper-slide">
                    <div class="defense-work__c-slider-e-img">
                        <img class="defense-work__c-slider-e-img-three" src="./assets/images/defense-work/3.png" alt="defense">
                    </div>
                    <div class="defense-work__c-slider-e-bottom">
                        <span class="tl2 col-bl">03</span>
                        <p class="tl4">Шаровый кран за считанные секунды
                            перекрывает воду. Авария предотвращена. Дом в безопасности!</p>
                    </div>
                </li>
            </ul>

        </div>
        <div class="mobile">
            <div class="defense-work-pagination"></div>
        </div>
    </div>
</section>