<header class=" header ">
    <div class="header-wrp">

        <div class="container header__top">
            <a href="#" class="header__top-link txt16">
                <img src="./assets/images/icons/location.svg" alt="location">
                Адрес</a>
            <a href="#" class="header__top-logo mobile">
                <img src="./assets/images/icons/logo-small.svg" alt="gidrolock">
            </a>

            <nav class="header__top-nav desktop">
                <a class="header__top-link txt16" href="#">О нас</a>
                <a class="header__top-link txt16" href="#">Проектировщикам</a>
                <a class="header__top-link txt16" href="#">Дилерам</a>
                <a class="header__top-link txt16" href="#">Доставка и оплата</a>
                <a class="header__top-link txt16" href="#">Отзывы</a>
                <a class="header__top-link txt16" href="#">Контакты</a>
            </nav>
            <nav class=" header__top-nav mobile">
                <a class="header__top-link" href="#">
                    <img src="./assets/images/icons/wa-blue.svg" alt="wa">
                </a>
                <a class="header__top-link" href="tel:+77777777777">
                    <img src="./assets/images/icons/phone-blue.svg" alt="phone-blue">
                </a>
            </nav>




        </div>
        <div class="header__main ">
            <div class="container header__main-c">
                <div class="header__main-c-logo desktop">
                    <img src="./assets/images/icons/logo.svg" alt="gidrolock">
                    <p class="txt14">Официальный интернет-магазин завода-изготовителя</p>
                </div>

                <a href="#" class="btn-primary btn-primary_blue desktop">
                    О заводе
                </a>
                <button class="header__main-c-btn ">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <form class="header__main-c-search">
                    <input type="text" placeholder="Поиск товаров" class="txt18">
                    <button type="submit">
                        <img src="./assets/images/icons/search.svg" alt="search">
                    </button>
                </form>

                <button class="header__main-c-link txt16 desktop modal-opener" data-modal="sign-phone">
                    <img src="./assets/images/icons/user.svg" alt="user">
                    Войти
                </button>

                <a href="#" class="header__main-c-link txt16 desktop">
                    <img src="./assets/images/icons/like.svg" alt="favorite">
                    Избранное
                </a>

                <a href="#" class="header__main-c-link txt16 desktop">
                    <img src="./assets/images/icons/basket-black.svg" alt="basket">
                    Корзина
                    <span class="header__main-c-link-basket-count  txt14">
                        99</span>
                </a>
            </div>
        </div>
        <div class="header__bottom desktop">
            <div class="container header__bottom-c">

                <button class="btn-primary btn-primary_green btn-primary_small">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="4.85" y="3.85" width="8.96667" height="8.96667" rx="1.15" stroke="white"
                            stroke-width="1.7">
                        </rect>
                        <rect x="4.85" y="18.5165" width="8.96667" height="8.96667" rx="1.15" stroke="white"
                            stroke-width="1.7">
                        </rect>
                        <rect x="19.1833" y="3.85" width="8.96667" height="8.96667" rx="1.15" stroke="white"
                            stroke-width="1.7">
                        </rect>
                        <rect x="19.1833" y="18.5165" width="8.96667" height="8.96667" rx="1.15" stroke="white"
                            stroke-width="1.7"></rect>
                    </svg>
                    <span>
                        Каталог
                    </span>

                </button>

                <div class="header__bottom-c-list">
                    <a href="#" class="header__bottom-c-link txt18 txt18_bold">
                        Защита от протечки
                    </a>
                    <a href="#" class=" col-gr txt16">
                        Готовые комплекты
                    </a>
                    <a href="#" class=" col-gr txt16">
                        Комплектующие
                    </a>
                    <a href="#" class=" col-gr txt16">
                        Подбор системы
                    </a>
                </div>

                <a href="#" class="header__bottom-c-link txt18 txt18_bold">
                    теплый дом
                </a>
                <a href="#" class="header__bottom-c-link txt18 txt18_bold">
                    умный дом
                </a>
                <a href="#" class="header__bottom-c-link txt18 txt18_bold">
                    акции
                </a>

                <a class="header__bottom-c-link txt18 txt18_bold" href="tel:+7897877878">
                    <img src="./assets/images/icons/phone-blue.svg" alt="phone">
                    8 (495) 120-23-29
                </a>
                <a class="header__bottom-c-link txt18 txt18_bold" href="#">
                    <img src="./assets/images/icons/wa-blue.svg" alt="phone">
                    WhatsApp
                </a>

            </div>
        </div>

        <div class="header__mobile header__mobile-wrp">
            <div class="header__mobile-c">
                <div class="header__mobile-c-list">
                    <img class="header__mobile-c-list-logo" src="./assets/images/icons/logo-small.svg" alt="gidrolock">
                    <a href="#" class="header__mobile-c-list-link-top tl4">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21 10.1672L19.5 9.05611L13.5 4.61167L12.55 3.91167C12.3867 3.79219 12.1955 3.72852 12 3.72852C11.8045 3.72852 11.6133 3.79219 11.45 3.91167L10.5 4.61167L4.5 9.05611L3 10.1672"
                                stroke="#898485" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M19.5 9.05664V17.9455C19.5 18.8296 19.1839 19.6774 18.6213 20.3026C18.0587 20.9277 17.2956 21.2789 16.5 21.2789H14V15.7233C14 15.4286 13.8946 15.146 13.7071 14.9376C13.5196 14.7293 13.2652 14.6122 13 14.6122H11C10.7348 14.6122 10.4804 14.7293 10.2929 14.9376C10.1054 15.146 10 15.4286 10 15.7233V21.2789H7.5C6.70435 21.2789 5.94129 20.9277 5.37868 20.3026C4.81607 19.6774 4.5 18.8296 4.5 17.9455V9.05664"
                                stroke="#898485" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Главная
                    </a>
                    <a href="#" class="header__mobile-c-list-link-top tl4">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="2.6375" y="3.1375" width="7.67598" height="7.66316" rx="0.8625" stroke="#898485"
                                stroke-width="1.275" />
                            <rect x="2.6375" y="14.2" width="7.67598" height="7.66316" rx="0.8625" stroke="#898485"
                                stroke-width="1.275" />
                            <rect x="13.6863" y="3.1375" width="7.67598" height="7.66316" rx="0.8625" stroke="#898485"
                                stroke-width="1.275" />
                            <rect x="13.6863" y="14.2" width="7.67598" height="7.66316" rx="0.8625" stroke="#898485"
                                stroke-width="1.275" />
                        </svg>

                        Каталог
                    </a>
                    <a href="#" class="header__mobile-c-list-link-top tl4">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.45423 13.5095L4.4551 13.5103L11.5136 20.4455C11.6516 20.581 11.8259 20.65 12 20.65C12.1741 20.65 12.3484 20.581 12.4864 20.4455L19.5449 13.5103L19.5458 13.5095C20.5645 12.5114 21.15 11.1007 21.15 9.61508V9.37665C21.15 6.88466 19.444 4.81354 17.1891 4.41735L4.45423 13.5095ZM4.45423 13.5095C3.43552 12.5114 2.85 11.1007 2.85 9.61508V9.37665C2.85 6.88466 4.55605 4.81354 6.81091 4.41735L4.45423 13.5095ZM12 6.94773L11.3838 6.29924L10.9151 5.80592C9.83189 4.66597 8.3035 4.15561 6.81112 4.41731L12 6.94773ZM12 6.94773L12.6162 6.29924M12 6.94773L12.6162 6.29924M12.6162 6.29924L13.0849 5.80592C14.1681 4.66597 15.6965 4.15562 17.1889 4.41731L12.6162 6.29924Z"
                                stroke="#898485" stroke-width="1.7" />
                        </svg>


                        Избранное
                    </a>
                    <a href="#" class="header__mobile-c-list-link-top tl4">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.25 8.89192V8.08358C8.25 6.20858 9.75833 4.36692 11.6333 4.19192C13.8667 3.97525 15.75 5.73358 15.75 7.92525V9.07525"
                                stroke="#898485" stroke-width="1.7" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M9.49937 20.8327H14.4994C17.8494 20.8327 18.4494 19.491 18.6244 17.8577L19.2494 12.8577C19.4744 10.8243 18.891 9.16602 15.3327 9.16602H8.66603C5.1077 9.16602 4.52437 10.8243 4.74937 12.8577L5.37437 17.8577C5.54937 19.491 6.14937 20.8327 9.49937 20.8327Z"
                                stroke="#898485" stroke-width="1.7" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        Корзина
                    </a>
                    <a href="#" class="header__mobile-c-list-link-top tl4 modal-opener" data-modal="sign-phone">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.1738 11.9738C12.0727 11.9609 11.9427 11.9609 11.8272 11.9738C9.28549 11.8966 7.26367 10.0453 7.26367 7.76969C7.26367 5.44265 9.37214 3.55273 12.0005 3.55273C14.6144 3.55273 16.7374 5.44265 16.7374 7.76969C16.7229 10.0453 14.7155 11.8966 12.1738 11.9738Z"
                                stroke="#898485" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M20.9475 21.4466C20.3995 19.9921 19.9027 19.2027 18.8352 18.0902C15.0762 14.1726 8.79517 14.1163 5.09307 18.0902C4.05206 19.2076 3.54282 19.7932 3.05273 21.4466"
                                stroke="#898485" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        Войти
                    </a>
                    <hr>
                    <a href="#" class="txt18">О заводе</a>
                    <a href="#" class="txt18">Проектировщикам</a>
                    <a href="#" class="txt18">Дилерам</a>
                    <a href="#" class="txt18">Партнеры</a>
                    <a href="#" class="txt18">Доставка и оплата</a>
                    <a href="#" class="txt18">Отзывы</a>
                    <a href="#" class="txt18">Контакты</a>
                </div>

            </div>
        </div>

        
    </div>
</header>