<header class=" header header-small">
    <div class="container header-small__c">

        <a href="#" class="btn-nav">
            <img src="./assets/images/icons/arrow-blue.svg" alt="nav">
            назад
        </a>

        <div class="header__main-c-logo ">
            <img src="./assets/images/icons/logo.svg" alt="gidrolock">
            <p class="txt14">Официальный интернет-магазин завода-изготовителя</p>
        </div>
        <div class="header-small__c-links">
            <a href="#" class="header__bottom-c-link txt18 txt18_bold">
                <img src="./assets/images/icons/phone-blue.svg" alt="phone">
                8 (495) 120-23-29</a>
            <a href="#" class="header__bottom-c-link txt18 txt18_bold">
                <img src="./assets/images/icons/wa-blue.svg" alt="wa">
                Whats App</a>
        </div>

    </div>
</header>