<li class="item-card swiper-slide">
    <div class="item-card__top ">
        <span class="item-card__top-discount txt16">10</span>

        <button class="item-card__top-favorite item-card__top-favorite_active">
        </button>



    </div>
    <a href="#" class="item-card__img">
        <img src="./assets/images/item-card.webp" alt="item-card">
    </a>
    <h3 class="tl4"><a href="#"> Умный манипулятор для шарового крана SCW1 (Wi-Fi) (81102020)</a></h3>

    <div class="item-card__drop-down select select_just-watch drop-down-container ">
        <button class="select__target drop-down-target ">
            <input class="test-input txt16 txt16_medium" type="text" readonly="" value="defalut">
            <img src="./assets/images/icons/arrow-white.svg" alt="V">
        </button>
        <div class="select__items">
            <div class="select__items-list">
                <button class="select__items-list-e txt16 txt16_medium">value 1</button>
                <button class="select__items-list-e txt16 txt16_medium">value 2</button>
                <button class="select__items-list-e txt16 txt16_medium">value 3</button>
            </div>

        </div>

    </div>

    <div class="item-card__info">
        <div class="item-card__info-price">
            <span class="item-card__info-price-e tl4">777777</span>
            <span class="item-card__info-price-e tl4 item-card__info-price-e_discount">777777</span>
        </div>
        <div class="item-card__info-basket">
            <button class="item-card__info-basket-btn tl4" disabled="">-</button>
            <span class="item-card__info-basket-count tl4">111</span>
            <button class="item-card__info-basket-btn tl4">+</button>
        </div>
    </div>
    <button class=" btn-primary btn-primary_blue btn-primary_blue-active">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8 7.66952V6.69952C8 4.44952 9.81 2.23952 12.06 2.02952C14.74 1.76952 17 3.87952 17 6.50952V7.88952"
                stroke="white" stroke-width="1.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">
            </path>
            <path
                d="M9.5008 22H15.5008C19.5208 22 20.2408 20.39 20.4508 18.43L21.2008 12.43C21.4708 9.99 20.7708 8 16.5008 8H8.5008C4.2308 8 3.5308 9.99 3.8008 12.43L4.5508 18.43C4.7608 20.39 5.4808 22 9.5008 22Z"
                stroke="white" stroke-width="1.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">
            </path>
        </svg>

        <span> В корзину</span>
    </button>

</li>