<section class="main-heading">
    <div class="container main-heading__c">
        <div class="main-heading__c-main">
            <div class="main-heading__c-main-slider swiper">
                <ul class="main-heading__c-main-slider-list swiper-wrapper">
                    <li class="main-heading__c-main-slider-list-e swiper-slide">
                        <div class="main-heading__c-main-slider-list-e-left">
                            <picture>
                                <source srcset="./assets/images/heading-bg-mobile.png" media="(max-width: 48em)">
                                <img class="main-heading__c-main-slider-list-e-left-bg" src="./assets/images/heading-bg.png" alt="bg">
                            </picture>
                            <div class="main-heading__c-main-slider-list-e-left-c">

                                <h1 class="tl1 col-wh">
                                    Производство и продажа систем защиты от протечек воды Gidrolock
                                </h1>

                                <ul class="marked-list">
                                    <li class="marked-list__e marked-list__e_big ">
                                        <img src="./assets/images/icons/champion.svg" alt="champion">
                                        <span class="marked-list__e-txt txt18 col-wh">Завод №1 в России</span>
                                    </li>
                                    <li class="marked-list__e marked-list__e_big ">
                                        <img src="./assets/images/icons/thumb-up.svg" alt="guard">
                                        <span class="marked-list__e-txt txt18 col-wh">100% оригинальная продукция</span>
                                    </li>
                                    <li class="marked-list__e marked-list__e_big ">
                                        <img src="./assets/images/icons/guard.svg" alt="guard">
                                        <span class="marked-list__e-txt txt18 col-wh">Непревзойденная гарантия</span>
                                    </li>
                                </ul>

                                <a href="#" class="btn-nav btn-nav_bg">
                                    Узнать больше
                                    <img src="./assets/images/icons/arrow-black.svg" alt="arr">
                                </a>


                            </div>
                        </div>
                        <div class="main-heading__c-main-slider-list-e-right">
                            <img src="./assets/images/main-heading.png" alt="main-heading">
                        </div>
                    </li>
                    <li class="main-heading__c-main-slider-list-e swiper-slide">
                        <div class="main-heading__c-main-slider-list-e-left">
                            <picture>
                                <source srcset="./assets/images/heading-bg-mobile.png" media="(max-width: 48em)">
                                <img class="main-heading__c-main-slider-list-e-left-bg" src="./assets/images/heading-bg.png" alt="bg">
                            </picture>
                            <div class="main-heading__c-main-slider-list-e-left-c">

                                <h1 class="tl1 col-wh">
                                    Производство и продажа систем защиты от протечек воды Gidrolock
                                </h1>

                                <ul class="marked-list">
                                    <li class="marked-list__e marked-list__e_big ">
                                        <img src="./assets/images/icons/champion.svg" alt="champion">
                                        <span class="marked-list__e-txt txt18 col-wh">Завод №1 в России</span>
                                    </li>
                                    <li class="marked-list__e marked-list__e_big ">
                                        <img src="./assets/images/icons/thumb-up.svg" alt="guard">
                                        <span class="marked-list__e-txt txt18 col-wh">100% оригинальная продукция</span>
                                    </li>
                                    <li class="marked-list__e marked-list__e_big ">
                                        <img src="./assets/images/icons/guard.svg" alt="guard">
                                        <span class="marked-list__e-txt txt18 col-wh">Непревзойденная гарантия</span>
                                    </li>
                                </ul>

                                <a href="#" class="btn-nav btn-nav_bg">
                                    Узнать больше
                                    <img src="./assets/images/icons/arrow-black.svg" alt="arr">
                                </a>


                            </div>
                        </div>
                        <div class="main-heading__c-main-slider-list-e-right">
                            <img src="./assets/images/main-heading.png" alt="main-heading">
                        </div>
                    </li>
                </ul>
                   
            </div>
            <div class="header-pagination">

            </div>
            <div class="main-heading__c-main-special">
                <span class="main-heading__c-main-special-top txt16">Cпецпредложение</span>
                <img class="main-heading__c-main-special-img" src="./assets/images/item-card.webp" alt="item-card">
                <div class="main-heading__c-main-special-bottom">
                    <h3 class="main-heading__c-main-special-bottom-ttl tl4">Умный манипулятор для шарового крана SCW1 (Wi-Fi) (81102020)</h3>

                    <button class="btn-primary btn-primary_blue btn-primary_small">
                        <img src="./assets/images/icons/arrow-white-right.svg" alt="arr">
                    </button>

                </div>
            </div>


        </div>
    

    </div>
</section>