<div class="modal modal-mail-help">
    <div class="modal-wrp  modal-closer">
        <div class="modal__c">
            <button class="modal__c-btn modal-closer">
            </button>
            <p class="tl1">
                Не приходит
                письмо на почту
            </p>
            <p class="txt18">
                Если вы столкнулись с проблемой неполучения письма для завершения регистрации, есть несколько шагов,
                которые
                можно предпринять:
            </p>
            <ol>
                <li class="txt18">
                    Проверьте правильность электронной почты. Убедитесь, что вы указали верную почту в настройках вашего
                    профиля.
                </li>
                <li class="txt18">
                    Проверьте подключение к интернету. Отсутствие интернета может привести к задержкам в доставке писем.
                </li>
                <li class="txt18">Проверьте папку «Спам». Иногда письма могут попадать в папку со спамом. Пожалуйста,
                    проверьте эту
                    папку
                    на вашем устройстве.
                </li>
                <li class="txt18">
                    Попробуйте еще раз. В случае отсутствия письма, попробуйте <span class="col-bl"> запросить его
                        повторно.</span>
                </li>
                <li class="txt18">
                    В случае, если все вышеперечисленные пункты не помогают, свяжитесь с нами для решения проблемы
                    +74951205002 <a href="mailto:qwe@qwe.com" class="col-bl">info@gidrolock.ru.</a>
                </li>
            </ol>

        </div>
    </div>
</div>


<div class="modal modal-sign-phone ">
    <div class="modal-wrp  modal-closer">
        <div class="modal__c modal-sign">
            <button class="modal__c-btn modal-closer">
            </button>

            <div class="modal-sign__slider">
                <div class="modal-sign__slider-list-e">
                    <form class="modal-sign__slider-list-e-body form">
                        <p class="tl1">
                            Вход в аккаунт
                        </p>
                        <div class="flex-row">
                            <p class="txt20 col-gr">Нет аккаунта?</p>
                            <a href="#" class="btn-nav btn-nav_ul modal-closer modal-closer">
                                Регистрация
                            </a>
                        </div>

                        <p class="txt18">Введите свой контактный номер телефона. Вам поступит SMS с кодом-паролем.
                        </p>

                        <div class="input-text form-input">
                            <div class="input-phone">
                                <div class="input-phone__select drop-down-container">
                                    <button class="input-phone__select-current drop-down-target">
                                        <img class="input-phone__select-flag input-phone__select-current-flag"
                                            src="./assets/images/icons/flag-rus.svg" alt="flag">
                                        <img class="input-phone__select-current-arrow"
                                            src="./assets/images/icons/arrow-black.svg" alt="arrow">
                                    </button>
                                    <div class="input-phone__select-list">
                                        <div class="input-phone__select-list-wrp">
                                            <button class="input-phone__select-list-btn" data-mask="ru">
                                                <img class="input-phone__select-flag "
                                                    src="./assets/images/icons/flag-rus.svg" alt="flag">
                                                +7
                                            </button>
                                            <button class="input-phone__select-list-btn" data-mask="br">
                                                <img class="input-phone__select-flag "
                                                    src="./assets/images/icons/flag-br.svg" alt="flag">
                                                +375
                                            </button>
                                            <button class="input-phone__select-list-btn" data-mask="kz">
                                                <img class="input-phone__select-flag "
                                                    src="./assets/images/icons/flag-kz.svg" alt="flag">
                                                +7
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" autocomplete="off" data-required="true" name="phone"
                                    placeholder="номер телефона">
                                <span class="input-text-placeholder"></span>
                            </div>
                            <span class="input-text-error-msg "></span>
                        </div>

                        <label class="checkbox form-input">
                            <input type="checkbox" data-required="true">
                            <span class="checkbox-check">
                                <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.41445 5.47216L8.88627 0.187083C9.0154 0.0623609 9.16884 0 9.34661 0C9.52438 0 9.67761 0.0623609 9.80631 0.187083C9.93544 0.311804 10 0.460015 10 0.631715C10 0.803415 9.93544 0.951418 9.80631 1.07572L3.8664 6.81292C3.73727 6.93764 3.58662 7 3.41445 7C3.24228 7 3.09163 6.93764 2.9625 6.81292L0.186243 4.1314C0.0571146 4.00668 -0.00486715 3.85847 0.000297988 3.68677C0.00546312 3.51507 0.0728249 3.36707 0.202384 3.24276C0.331512 3.11804 0.48496 3.05568 0.662727 3.05568C0.840493 3.05568 0.993726 3.11804 1.12242 3.24276L3.41445 5.47216Z"
                                        fill="white"></path>
                                </svg>
                            </span>
                            <span class="checkbox-text txt14">Отправляя данные в эту форму «Я согласен с условиями
                                обработки и хранения персональных данных»</span>
                        </label>

                        <button class="btn-primary btn-primary_green modal-closer modal-opener"
                            data-modal="sign-phone-code" type="submit">
                            Получить код
                        </button>

                        <span class="btn-nav btn-nav_ul txt20 col-gr modal-closer modal-opener"
                            data-modal="sign-email">Войти по e-mail</span>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal modal-sign-phone-code ">
    <div class="modal-wrp  modal-closer">
        <div class="modal__c modal-sign">
            <button class="modal__c-btn modal-closer">
            </button>

            <div class="modal-sign__slider">
                <div class="modal-sign__slider-list-e">
                    <div class="modal-sign__slider-list-e-body ">
                        <p class="tl1">
                            Введите код
                        </p>
                        <p class="txt18">Укажите код из СМС на номер +7(999) 999 99-99</p>
                        <button class="btn-nav btn-nav_ul modal-closer model-opener" data-modal="sign-phone">
                            изменить номер
                        </button>
                        <form class="input-4x-code _error"  action="">
                            <input type="number" name="code" data-index="0">
                            <input type="number" name="code" data-index="1">
                            <input type="number" name="code" data-index="2">
                            <input type="number" name="code" data-index="3">
                            <input type="hidden" name="pincode" value="****">
                            <span class="input-text-error-msg">Код введен не верно</span>
                        </form>
                        <button class="btn-primary btn-primary_green" type="submit">
                            Запросить код повторно через <span>0:55</span>
                        </button>
                        <button data-modal="mail-help" class="modal-opener btn-nav btn-nav_ul txt20 col-gr">Не
                            приходит SMS
                            с кодом?</button>

                        </div>
                </div>


            </div>

        </div>
    </div>
</div>



<div class="modal modal-sign-email ">
    <div class="modal-wrp  modal-closer">
        <div class="modal__c modal-sign">
            <button class="modal__c-btn modal-closer">
            </button>
            <form class="modal-sign__slider-list-e-body form">
                <p class="tl1">
                    Вход в аккаунт
                </p>
                <div class="flex-row">
                    <p class="txt20 col-gr">Нет аккаунта?</p>
                    <a href="#" class="btn-nav btn-nav_ul modal-closer">
                        Регистрация
                    </a>
                </div>


                <label class="input-container input-text form-input">
                    <input type="text" name="email" placeholder="Электронная почта">
                    <span class="input-text-placeholder"></span>
                    <span class="input-text-error-msg "></span>
                </label>


                <label class=" input-container input-text form-input">
                    <input type="password" name="password" maxlength="20" data-required="true" placeholder="Пароль">
                    <span class="input-text-placeholder"></span>
                    <span class="input-text-error-msg "></span>
                    <button class="input-text-password">X</button>
                </label>

                <a href="#" class="btn-nav btn-nav_ul modal-closer modal-opener" data-modal="sign-reset">
                    Забыли пароль?
                </a>





                <button class="btn-primary btn-primary_green" type="submit">
                    Войти
                </button>

                <span class="btn-nav btn-nav_ul txt20 col-gr modal-closer modal-opener" data-modal="sign-phone">Войти по
                    номеру</span>

            </form>

        </div>
    </div>
</div>



<div class="modal modal-sign-reset " >
    <div class="modal-wrp  modal-closer">
        <div class="modal__c modal-sign">
            <button class="modal__c-btn modal-closer">
            </button>

            <div class="modal-sign__slider-list-e-body  modal-sign-reset-switcher">
                <p class="tl1">
                    Восстановление пароля
                </p>
                <div class="flex-row">
                    <label class="radio txt18 ">
                        <input class="sign-form-switcher switcher-btn" type="radio" name="sign" checked >
                        <span class="radio-default">
                        </span>
                        Физическое лицо
                    </label>
                    <label class="radio txt18 ">
                        <input class="sign-form-switcher switcher-btn" type="radio" name="sign">
                        <span class="radio-default">
                        </span>
                        Юридическое лицо
                    </label>
                </div>
                <div class="switcher-slide">
                    <form class=" flex-column form">



                        <p class="txt18">
                            Введите свой адрес электронной почты. Вам поступит сообщение с кодом-паролем.
                        </p>


                        <label class="input-container input-text form-input">
                            <input type="text" name="email" placeholder="Электронная почта" data-required="true">
                            <span class="input-text-placeholder"></span>
                            <span class="input-text-error-msg "></span>
                        </label>

                        <label class="checkbox form-input">
                            <input type="checkbox" name="policy" data-required="true">
                            <span class="checkbox-check">
                                <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.41445 5.47216L8.88627 0.187083C9.0154 0.0623609 9.16884 0 9.34661 0C9.52438 0 9.67761 0.0623609 9.80631 0.187083C9.93544 0.311804 10 0.460015 10 0.631715C10 0.803415 9.93544 0.951418 9.80631 1.07572L3.8664 6.81292C3.73727 6.93764 3.58662 7 3.41445 7C3.24228 7 3.09163 6.93764 2.9625 6.81292L0.186243 4.1314C0.0571146 4.00668 -0.00486715 3.85847 0.000297988 3.68677C0.00546312 3.51507 0.0728249 3.36707 0.202384 3.24276C0.331512 3.11804 0.48496 3.05568 0.662727 3.05568C0.840493 3.05568 0.993726 3.11804 1.12242 3.24276L3.41445 5.47216Z"
                                        fill="white"></path>
                                </svg>
                            </span>
                            <span class="checkbox-text txt14">Отправляя данные в эту форму, вы соглашаетесь с условиями
                                обработки и хранения персональных данных</span>
                        </label>


                        <button class="btn-primary btn-primary_green" type="submit">
                            Восстановить пароль
                        </button>

                    </form>
                </div>
                <div class="switcher-slide">
                    <form class=" flex-column form">
                        <p class="txt18">
                            Для восстановления пароля свяжитесь с менеджером
                        </p>

                        <label class="input-container input-text form-input">
                            <input type="text" name="name" data-required="true" placeholder="Имя">
                            <span class="input-text-placeholder"></span>
                            <span class="input-text-error-msg "></span>
                        </label>

                        <label class="input-container input-text form-input">
                            <input type="text" name="email" data-required="true" placeholder="Электронная почта">
                            <span class="input-text-placeholder"></span>
                            <span class="input-text-error-msg "></span>
                        </label>

                        <label class="checkbox form-input">
                            <input type="checkbox" name="policy" data-required="true">
                            <span class="checkbox-check">
                                <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.41445 5.47216L8.88627 0.187083C9.0154 0.0623609 9.16884 0 9.34661 0C9.52438 0 9.67761 0.0623609 9.80631 0.187083C9.93544 0.311804 10 0.460015 10 0.631715C10 0.803415 9.93544 0.951418 9.80631 1.07572L3.8664 6.81292C3.73727 6.93764 3.58662 7 3.41445 7C3.24228 7 3.09163 6.93764 2.9625 6.81292L0.186243 4.1314C0.0571146 4.00668 -0.00486715 3.85847 0.000297988 3.68677C0.00546312 3.51507 0.0728249 3.36707 0.202384 3.24276C0.331512 3.11804 0.48496 3.05568 0.662727 3.05568C0.840493 3.05568 0.993726 3.11804 1.12242 3.24276L3.41445 5.47216Z"
                                        fill="white"></path>
                                </svg>
                            </span>
                            <span class="checkbox-text txt14">Отправляя данные в эту форму, вы соглашаетесь с условиями
                                обработки и хранения персональных данных</span>
                        </label>


                        <button class="btn-primary btn-primary_green" type="submit">
                            Оставить заявку
                        </button>


                    </form>
                </div>
                <button class="btn-nav btn-nav_ul txt20 col-gr modal-closer modal-opener" data-modal="sign-phone">
                    Войти по номеру телефона
                </button>

            </div>


        </div>
    </div>
</div>

<div class="modal modal-sign-password ">
    <div class="modal-wrp  modal-closer">
        <div class="modal__c modal-sign">
            <button class="modal__c-btn modal-closer">
            </button>
            <form class="modal-sign__slider-list-e-body form">
                <p class="tl1">
                    Введите новый пароль
                </p>
                <p class="txt18">
                    Пароль должен содержать минимум 1 символ, 1 цифру и 1 заглавную букву и не должен содержать
                    спецсимволы. Длина пароля не менее 8 символов.
                </p>


                <label class="input-container input-text form-input">
                    <input type="text" name="name" placeholder="input-text">
                    <span class="input-text-placeholder"></span>
                    <span class="input-text-error-msg "></span>
                </label>

                <label class="input-container input-text form-input">
                    <input type="text" name="name" placeholder="input-text">
                    <span class="input-text-placeholder"></span>
                    <span class="input-text-error-msg "></span>
                </label>

                <button class="btn-primary btn-primary_green" type="submit">
                    Восстановить пароль
                </button>


            </form>

        </div>
    </div>
</div>


<div class="modal modal-cdek ">
    <div class="modal-wrp  modal-closer">
        <div class="modal__c  modal-cdek__c">
            <button class="modal__c-closer modal-closer"></button>
            <div class="modal-cdek__c-top">

                <label class="radio switcher-btn">
                    <input type="radio" name="test">
                    <span class="radio-square txt18">
                        Списком
                    </span>
                </label>


                <label class="radio switcher-btn">
                    <input type="radio" name="test">
                    <span class="radio-square txt18">
                        На карте
                    </span>
                </label>


                <label class="input-container input-text form-input">
                    <input type="text" name="name" placeholder="Адрес" data-required="true">

                </label>


            </div>

            <div class="switcher-slide">
                <div class="modal-cdek__c-items ">
                    <ul class="modal-cdek__c-items-list">
                        <li class="modal-cdek__c-items-list-e _active">
                            <div class="flex-row">
                                <p class="tl4">СДЭК пункт выдачи №32</p>
                                <p class="txt18 col-gr">пн-вс: 09:00-21:00</p>
                            </div>
                            <p class="txt18">107113, Москва, улица Сокольнический </p>
                            <p class="txt18">вал 2</p>

                        </li>
                    </ul>

                </div>
            </div>
            <div class="switcher-slide">
                <div class="modal-cdek__c-map ">
                    <p class="tl1">map here</p>
                </div>
            </div>



        </div>
    </div>
</div>