<section class="partners">
    <div class="container partners__c">
        <div class="partners__c-items">
            <ul class="partners__c-items-list">
                <li class="partners__c-items-list-e">
                    <img src="./assets/images/partners/bonomi.png" alt="partner">
                </li>
                <li class="partners__c-items-list-e">
                    <img src="./assets/images/partners/bugatti.png" alt="partner">
                </li>
                <li class="partners__c-items-list-e">
                    <img src="./assets/images/partners/tiemme.png" alt="partner">
                </li>
                <li class="partners__c-items-list-e">
                    <img src="./assets/images/partners/ebs.png" alt="partner">
                </li>
                <li class="partners__c-items-list-e">
                    <img src="./assets/images/partners/ivanci.png" alt="partner">
                </li>
                <li class="partners__c-items-list-e">
                    <img src="./assets/images/partners/glock.png" alt="partner">
                </li>
            </ul>

        </div>

    </div>
</section>