<section class="send-quest">
    <div class="container send-quest__c">
        <div class="send-quest__c-top">
            <h2 class="tl2">Остались вопросы? Мы Вам подскажем</h2>
            <p class="txt18">Оставьте свои данные, и мы перезвоним вам в ближайшее время</p>
        </div>
        <form class="form send-quest__c-form">

            <label class="input-container input-text form-input">
                <input type="text" placeholder="ФИО" data-required="true" name="name">
                <span class="input-text-placeholder"></span>
                <span class="input-text-error-msg "></span>
            </label>


            <div class="input-text form-input">
                <div class="input-phone">
                    <div class="input-phone__select drop-down-container">
                        <button class="input-phone__select-current drop-down-target">
                            <img class="input-phone__select-flag input-phone__select-current-flag"
                                src="./assets/images/icons/flag-rus.svg" alt="flag">
                            <img class="input-phone__select-current-arrow" src="./assets/images/icons/arrow-black.svg"
                                alt="arrow">
                        </button>
                        <div class="input-phone__select-list">
                            <div class="input-phone__select-list-wrp">
                                <button class="input-phone__select-list-btn" data-mask="ru">
                                    <img class="input-phone__select-flag " src="./assets/images/icons/flag-rus.svg"
                                        alt="flag">
                                    +7
                                </button>
                                <button class="input-phone__select-list-btn" data-mask="br">
                                    <img class="input-phone__select-flag " src="./assets/images/icons/flag-br.svg"
                                        alt="flag">
                                    +375
                                </button>
                                <button class="input-phone__select-list-btn" data-mask="kz">
                                    <img class="input-phone__select-flag " src="./assets/images/icons/flag-kz.svg"
                                        alt="flag">
                                    +7
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="text" autocomplete="off" data-required="true" name="phone" placeholder="номер телефона">
                <span class="input-text-placeholder"></span>
                </div>
                <span class="input-text-error-msg "></span>
            </div>
            <label class="input-container input-text form-input">
                <input type="text" placeholder="Комментарий" name="message" maxlength="100">
                <span class="input-text-placeholder"></span>
                <span class="input-text-error-msg "></span>
            </label>
            <div class="send-quest__c-form-bottom">
                <button class="btn-primary btn-primary_blue">
                    Оставить заявку
                </button>

                <label class="checkbox form-input">
                    <input type="checkbox" name="police" data-required="true">
                    <span class="checkbox-check">
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3.41445 5.47216L8.88627 0.187083C9.0154 0.0623609 9.16884 0 9.34661 0C9.52438 0 9.67761 0.0623609 9.80631 0.187083C9.93544 0.311804 10 0.460015 10 0.631715C10 0.803415 9.93544 0.951418 9.80631 1.07572L3.8664 6.81292C3.73727 6.93764 3.58662 7 3.41445 7C3.24228 7 3.09163 6.93764 2.9625 6.81292L0.186243 4.1314C0.0571146 4.00668 -0.00486715 3.85847 0.000297988 3.68677C0.00546312 3.51507 0.0728249 3.36707 0.202384 3.24276C0.331512 3.11804 0.48496 3.05568 0.662727 3.05568C0.840493 3.05568 0.993726 3.11804 1.12242 3.24276L3.41445 5.47216Z"
                                fill="white"></path>
                        </svg>
                    </span>
                    <span class="checkbox-text txt16">Нажимая на кнопку, Вы соглашаетесь с Политикой
                        конфиденциальности</span>
                </label>

            </div>



        </form>


    </div>
</section>