<section class="video">
    <div class="container video__c">
        <h2 class="tl2">Видео-презентация ШЭП ULTIMATE </h2>
        <div class="video__c-wrp">
            <div class="video__c-wrp-overlay">
                <span class="video__c-wrp-overlay-btn">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="#005C8F" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66602 29.3333V4L26.666 16.6667L6.66602 29.3333Z" />
                    </svg>

                </span>
            </div>
            <div class="video__c-wrp-item">
                сюда вставлять видос
            </div>
        </div>
    </div>
</section>