<section class="why-choice">
    <div class="container why-choice__c">
        <div class="why-choice__c-top">
            <h2 class="tl2">Почему выбирают Gidrolock?</h2>
            <a href="#" class="btn-nav btn-nav_ul desktop">
                Подробнее</a>
        </div>
        <div class="why-choice__c-slider swiper">
            <ul class="why-choice__c-slider-list swiper-wrapper">
                <li class="why-choice__c-slider-list-e swiper-slide">
                    <img src="./assets/images/icons/why-choice/1.svg" alt="1">
                    <p class="tl4">Быстрое
                        срабатывание</p>
                    <p class="txt16">
                        Время реакции<strong> 2 секунды</strong>. Время отключения воды менее <strong>15
                            секунд</strong>.
                    </p>
                </li>

                <li class="why-choice__c-slider-list-e swiper-slide">
                    <img src="./assets/images/icons/why-choice/2.svg" alt="1">
                    <p class="tl4">Быстрое
                        срабатывание</p>
                    <p class="txt16">
                        Время реакции<strong> 2 секунды</strong>. Время отключения воды менее <strong>15
                            секунд</strong>.
                    </p>
                </li>
                <li class="why-choice__c-slider-list-e swiper-slide">
                    <img src="./assets/images/icons/why-choice/3.svg" alt="1">
                    <p class="tl4">Быстрое
                        срабатывание</p>
                    <p class="txt16">
                        Время реакции<strong> 2 секунды</strong>. Время отключения воды менее <strong>15
                            секунд</strong>.
                    </p>
                </li>
                <li class="why-choice__c-slider-list-e swiper-slide">
                    <img src="./assets/images/icons/why-choice/4.svg" alt="1">
                    <p class="tl4">Быстрое
                        срабатывание</p>
                    <p class="txt16">
                        Время реакции<strong> 2 секунды</strong>. Время отключения воды менее <strong>15
                            секунд</strong>.
                    </p>
                </li>
                <li class="why-choice__c-slider-list-e swiper-slide">
                    <img src="./assets/images/icons/why-choice/5.svg" alt="1">
                    <p class="tl4">Быстрое
                        срабатывание</p>
                    <p class="txt16">
                        Время реакции<strong> 2 секунды</strong>. Время отключения воды менее <strong>15
                            секунд</strong>.
                    </p>
                </li>
                <li class="why-choice__c-slider-list-e swiper-slide">
                    <img src="./assets/images/icons/why-choice/6.svg" alt="1">
                    <p class="tl4">Быстрое
                        срабатывание</p>
                    <p class="txt16">
                        Время реакции<strong> 2 секунды</strong>. Время отключения воды менее <strong>15
                            секунд</strong>.
                    </p>
                </li>
                <li class="why-choice__c-slider-list-e swiper-slide">
                    <img src="./assets/images/icons/why-choice/7.svg" alt="1">
                    <p class="tl4">Быстрое
                        срабатывание</p>
                    <p class="txt16">
                        Время реакции<strong> 2 секунды</strong>. Время отключения воды менее <strong>15
                            секунд</strong>.
                    </p>
                </li>
                <li class="why-choice__c-slider-list-e swiper-slide">
                    <img src="./assets/images/icons/why-choice/8.svg" alt="1">
                    <p class="tl4">Быстрое
                        срабатывание</p>
                    <p class="txt16">
                        Время реакции<strong> 2 секунды</strong>. Время отключения воды менее <strong>15
                            секунд</strong>.
                    </p>
                </li>
                <li class="why-choice__c-slider-list-e swiper-slide">
                    <img src="./assets/images/icons/why-choice/9.svg" alt="1">
                    <p class="tl4">Быстрое
                        срабатывание</p>
                    <p class="txt16">
                        Время реакции<strong> 2 секунды</strong>. Время отключения воды менее <strong>15
                            секунд</strong>.
                    </p>
                </li>

                <li class="why-choice__c-slider-list-e swiper-slide">
                    <img src="./assets/images/icons/why-choice/10.svg" alt="1">
                    <p class="tl4">Быстрое
                        срабатывание</p>
                    <p class="txt16">
                        Время реакции<strong> 2 секунды</strong>. Время отключения воды менее <strong>15
                            секунд</strong>.
                    </p>
                </li>
            </ul>
        </div>
        <div class="mobile">
            <div class="why-choice__c-slider-pagination ">

            </div>
            <div class="why-choice__c-link">
                <a href="#" class="btn-nav btn-nav_ul ">
                    Подробнее</a>
            </div>
           
        </div>
 


    </div>
</section>