@font-face {
  font-family: 'Rebrand Txt';
  src: url('../assets/fonts/Rebrand Dis Regular.otf');

  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Rebrand Txt';
  src: url('../assets/fonts/Rebrand Dis Medium.otf');

  font-weight: 500;
}

@font-face {
  font-family: 'Rebrand Txt';
  src: url('../assets/fonts/Rebrand Dis SemiBold.otf');

  font-style: normal;
  font-weight: 700;
}