
@font-face {
  font-family: 'Rebrand Txt';
  src: url('./assets/fonts/Rebrand-Txt.eot');
  src: local('Euclid Circular A Medium'), local('Rebrand-Txt'),
      url('./assets/fonts/Rebrand-Txt.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Rebrand-Txt.woff') format('woff'),
      url('./assets/fonts/Rebrand-Txt.ttf') format('truetype');
  font-style: normal;
}



