@import './mixins';

$black: rgba(22, 46, 58, 1);
$blue: #005c8f;
$white: rgba(255, 255, 255, 1);
$bg: rgba(245, 245, 245, 1);
$gray: rgba(230, 230, 230, 1);
$gray-dark: rgb(151, 157, 160);
$green: rgba(109, 181, 71, 1);
$red: rgba(217, 56, 56, 1);
$yellow: rgba(247, 188, 0, 1);

body {
  background-color: $bg;
  color: $black;
  font-family: 'Rebrand Txt';

  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

.disable-margin section {
  margin-top: 6rem !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  // overflow: hidden;
}

.container {
  width: 178.7rem;
  margin: 0 auto;
}
.container-small{
  width: 105.8rem;
  margin: 0 auto;
  @include small-tablet{
    width: 100%;
    padding: 0 1.5rem;
  }
}


* {
  // outline:  1px solid red;
}

// main
main {
  flex-grow: 1;

  section {
    margin: 11rem 0 0;

    @include small-tablet {
      margin: 20rem 0 0;
    }

    &._first {
      margin: 3.2rem 0 0rem;

      @include small-tablet {
        margin: 6.4rem 0 0rem;
      }
    }
  }
}


.desktop {
  display: block ;

  @media (max-width: 48em) {
    display: none ;
  }
}

.mobile {
  display: none ;

  @media (max-width: 48em) {
    display: block;
  }
}

@import './ui/ui';